include ../helpers.pug

if (global.process.env.NODE_ENV === 'production')
	- var title = '$product.HtmlEscapedName'
	- var href = '$product.Uri'
	- var dataProductId = '$product.Id'
	- var listPrice = '$product.ListPrice'
	- var bestPrice = '$product.BestPrice'
	- var flags = '$product.HightLight'
	- var getImageTag = '$product.GetImageTag(2)'
	- var getImageTag2 = '$product.GetImageTag(2)'
	- var categoryName = '+ $product.CategoryName'
	- var categoryHref = '$product.CategoryLink'
	- var description = '$product.DescriptionShort'

else
	- var title = 'Camiseta Manga Curta Lifestyle'
	- var href = '/product.html'
	- var dataProductId = Math.floor(Math.random() * 9999999)
	- var listPrice = 'R$ 189,00'
	- var bestPrice = 'R$ 129,00'
	- var flags = '<p class="flag destaque">novo</p>'
	- var getImageTag = '<img src="/arquivos/prateleira-pic.jpg" width="282" height="426" />'
	- var getImageTag2 = '<img src="/arquivos/prateleira-pic.jpg" width="282" height="426" />'
	- var categoryName = '+ Camisas'
	- var categoryHref = '/category.html'
	- var description = 'Eu dou dinheiro pra minha filha. Eu dou dinheiro pra ela viajar, então é...'

.product.product--shelf
	span.product__id(data-product-id= dataProductId)
	.product__header
		.product__media
			a.product__link(title= title, href= href)
				!= getImageTag
				.flags
					p.flag.desconto 90% OFF
			.product__button
				a.btn.btn__buy(title= title, href= href)
					include ../../svg/carrinho-tipbar.svg
					| Comprar
	.product__reviews
	.product__info
		h3.product__name
			a.product__link(title= title, href= href)= title
		.product__price
			if ( global.process.env.NODE_ENV === 'production' )
				!= '\n#if ($product.IsInStock)'
				!= '\n  <div class="price">'
				!= '\n		#if ($product.HasBestPrice)'
				!= '\n    		<span class="price__list price__list--line">' + listPrice + '</span>'
				!= '\n    		<span class="price__best">' + bestPrice + '</span>'
				!= '\n    	#else'
				!= '\n    		<span class="price__list">' + listPrice + '</span>'
				!= '\n    	#end'
				!= '\n    	#if ($product.NumbersOfInstallment > 1)'
				!= '\n      	<span class="price__installment">'
				!= '\n        		${product.NumbersOfInstallment}X ${product.InstallmentValue}'
				!= '\n      	</span>'
				!= '\n    	#end'
				!= '\n  </div>'
				!= '\n#else'
				!= '\n  <span class="product__unavailable">Indisponível</span>'
				!= '\n#end\n'
			else
				.price
					span.price__list--line R$ 189,00
					span.price__best R$ 129,00
					span.price__installment 2x R$ 64,50

