.banner {
	&--full {
		display: none;
		position: relative;
		@include atMedium {
			display: block;
		}
		.slide-count-wrap {
			width: 400px;
			height: 100px;
			position: absolute;
			right: 25px;
			bottom: 20px;
			z-index: 10;
			color: $c-white;
			font-size: 29px;
			.current,
			.total {
				padding: 0 5px;
			}
			.current {
				font-weight: 700;
			}

			.total {
				opacity: 0.5;
				font-weight: 400;
				@include font-size(15px);
				border-left: 1px solid rgba(255, 255, 255, 0.678);
			}
			.progress {
				display: block;
				width: 100%;
				height: 10px;
				border-radius: 10px;
				overflow: hidden;
				background-color: rgba(245, 245, 245, 0.631);
				background-image: linear-gradient(to right, white, white);
				background-repeat: no-repeat;
				background-size: 0 100%;
				transition: background-size 0.4s ease-in-out;
			}
			.slide-counter {
				@extend %display-flex;
				@extend %flex-align-items-center;
			}
		}
		.banner__button {
			position: absolute;
			cursor: pointer;
			z-index: 11;
			background: transparent;
			border: none;
			margin: 0;
			padding: 0;
			@extend %display-flex;
			align-items: center;
			justify-content: center;
		}
		.banner__button.slick-prev {
			bottom: 94px;
			right: 140px;
		}
		.banner__button.slick-next {
			transform: rotate(180deg);
			bottom: 94px;
			right: 80px;
			&:after {
				content: '|';
				color: white;
				margin-left: 10px;
			}
		}
	}

	&--mobile {
		display: block;
		@include atMedium {
			display: none;
		}
		.slick-dots {
			position: absolute;
			bottom: 22px;
			left: 0;
			right: 0;
			justify-content: center;
			display: inline-flex;
			margin: auto;
		}
		.slick-dots li {
			margin: 0 3px;
			width: 15px;
			height: 15px;
			border-radius: 50%;
			font-size: 0;
			background: rgba(255, 255, 255, 0.637);
		}
		.slick-dots li.slick-active {
			background: white;
		}
		.banner__button {
			position: absolute;
			z-index: 20;
		}
		.banner__button.slick-prev {
			top: 0;
			bottom: 0;
			left: 0;
			margin: auto;
		}
		.banner__button.slick-next {
			transform: rotate(180deg);
			top: 0;
			bottom: 0;
			right: 0;
			margin: auto;
		}
	}

	&__inner {
		img {
			filter: brightness(75%);
		}
	}
	.box-banner {
		& > a {
			display: block;
		}
		img {
			width: 100%;
		}
	}
	&__static {
		display: none;
		@include atMedium {
			display: block;
		}
	}
	&__static--mobile {
		display: block;
		@include atMedium {
			display: none;
		}
	}
}
