.banner {
  &--full,
  &--mobile {
    .slick-dots {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 40px 20px;
      display: flex !important;
      flex-direction: row;
      justify-content: center;
      margin: 0 auto;

      li {
        opacity: 0.5;
        &.slick-active {
          opacity: 1;
        }
      }

      button {
        border: none;
        background-color: $c-white;
        width: 10px;
        height: 10px;
        font-size: 0;
        padding: 0;
        border-radius: 50%;
        margin: 0 2px;
      }
    }
  }
  
  &--full {
    display: none;
    @include atMedium {
      display: block;
    }
    position: relative;
  }
  &--mobile {
    display: block;
    .slick-dots {
      padding: 0;
    }
    @include atMedium {
      display: none;
    }
  }

  .box-banner {
    & > a {
      display: block;
    }
  }
}
