.bread-crumb {
  padding: 10px 0;
  ul {
    display: flex;

    li {
        margin: 0 5px;
        font-family: $f-base;
        a {
            color: #757575;
            font-size: 18px;
            &:hover {
                color: $c-primary;
            }
        }
        &::after {
            content: '|';
            display: inline-block;
            margin-left: 5px;
        }

        &:last-child {
            &::after {
                display: none;
            }
        }
        &.last {

            a {
                color: $c-primary;
                font-weight: 700;
            }
        }
    }
  }
}
