.section__breadcrumb {
    margin-top: 25px;
    
    .bread-crumb {
      padding: 10px 0;

      ul {
        display: flex;
    
        li {
            margin: 0 5px;

            a {
                font-size: 14px;
                color: #6a6157;
                font-weight: 400;
                line-height: 25px;
                font-family: Roboto;

                &:hover {
                    color: #e75300;
                }
            }
            &::after {
                content: '/';
                margin-left: 5px;
                display: inline-block;
            }
    
            &:last-child {
                &::after {
                    display: none;
                }
            }

            &.last {
                a {
                    color: #000;
                    font-weight: 700;
                }
            }
        }
      }
    }
}