.button {
	&--primary {
		color: $c-white;
		background-color: #004774;
		border-color: #004774;

		&:hover {
			background-color: darken(#004774, 10%);
			color: $c-white;
		}
	}
}


.btn {
	@extend %display-flex;
	padding: 8px 16px;

	&--menu {
		@extend %background-color-primary;
		@extend %flex-wrap-wrap;
		@extend %no-border;
		@extend %color-white;
		@extend %flex-justify-content-center;
		@extend %flex-align-items-center;
		@extend %text-transform-uppercase;
		width: 60px;
		height: 60px;
		@include font-size(11px);

		i {
			@include font-size(20px);
		}

    }
    
    &--close {
        @extend .btn--menu;
    }

	&--search {
		background-color: transparent;
		@extend %no-border;
		@extend %flex-justify-content-center;
		@extend %flex-align-items-center;
		width: 30px;
		height: 30px;
		color: #bab1a8;

		i {
			@include font-size(20px);
		}
	}

	&--buy,
	&--primary {
		@extend %background-color-primary;
		@extend %color-white;
		@extend %font-family-unitedsans;
		@extend %text-transform-uppercase;
		@extend %flex-justify-content-center;
		font-weight: 800;

		&:hover {
			@extend %background-color-primary--dark;
			@extend %color-white;
			@extend %text-decoration-none;
		}
	}
}
