.catalog {
    .searchResultsTime, .sub, .pages, .pager {
        display: none;
    }

    .shelf {
        
        ul {
            flex-wrap: wrap;
            justify-content: flex-start;
        }
        li {
            min-width: 301px;
            margin: 10px 0;
        }
    }

    .orderBy {
        select {
            font-family: $f-base;
            color: $c-black;
        }
        .select {
            &::after {
                border-color: #bdbdbd;
            }
        }
    }
    .section__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .bread-crumb ul {
        display: flex;

        li {
            margin: 0 5px;
            font-family: $f-base;
            a {
                color: #757575;
                &:hover {
                    color: $c-primary;
                }
            }
            &::after {
                content: '|';
                display: inline-block;
                margin-left: 5px;
            }

            &:last-child {
                &::after {
                    display: none;
                }
            }
            &.last {
                strong {
                    font-weight: 400;
                }
                a {
                    color: $c-primary;
                }
            }
        }
    }
}