.diff {

	&__container {
		display: flex;
		padding: 30px 20px;
		justify-content: space-around;
		border-radius: 20px;
		box-shadow: 0px 5px 16px 1px rgba(204,204,204,1);

		&--no-shadow {
			box-shadow: none;
		}

	}
	&__box {
		display: flex;
		width: calc((100% - (20px * 4))/4);
		align-items: center;
		justify-content: center;
	}

	&__icon {
		svg {
		width: 30px;
		}

		&--boleto {
		svg {
			width: 30px;
		}
		}

		&--frete {
		svg {
			width: 40px;
		}
		}
	}

	&__info {
		margin-left: 15px;
		text-align: center;
		font-family: $f-base;
	}

	&__title {
		display: block;
		color: $c-blue;
		text-transform: uppercase;
		font-size: 21px;
		font-weight: 700;
		width: 100%;
	}

	&__subtitle {
		font-size: 15px;
	}
}
