.diff {

	&__container {
		display: flex;
		padding: 20px 15px;
		justify-content: space-around;
		.home & {
			border-radius: 20px;
			box-shadow: 0px 5px 16px 1px rgba(204,204,204,1);
		}

	}
	&__box {
		display: flex;
		width: calc((100% - (20px * 4))/4);
		align-items: center;
		justify-content: center;
	}

	&__icon {
		font-size: 30px;
		color: $c-primary;
	}

	&__info {
		margin-left: 15px;
		text-align: center;
		font-family: $f-base;
	}

	&__title {
		display: block;
		color: $c-blue;
		text-transform: uppercase;
		font-size: 18px;
		font-weight: 700;
		width: 100%;
	}

	&__subtitle {
		font-size: 15px;
	}
}
