.minicart {
	position: relative;
	&__overlay {
		width: 100vw;
		height: 100vh;
		position: fixed;
		background-color: rgba(0, 0, 0, 0.7);
		top: 0;
		left: 0;
		z-index: 50;
		display: none;
		.active & {
			display: block;
		}
	}

	&__container {
		position: fixed;
		top: 0;
		right: 0;
		left: 40px;
		height: 100vh;
		background-color: $c-white;
		z-index: 60;
		display: none;
		flex-direction: column;
		.active & {
			display: flex;
		}
		@include atMedium {
			left: initial;
		}
	}

	&__header {
		width: 100%;
		height: 17%;
	}

	&__handle {
		border: none;
		box-shadow: 0;
		background-color: transparent;

		.minicart__header & {
			width: 100%;
			display: flex;
			align-items: center;
			background-color: $c-yellow;
			padding: 30px 0;
			svg {
				width: 10px;
			}
		}
	}
	&__content {
		height: 62%;
		overflow: auto;
	}
	&__footer {
		margin-top: auto;
	}

	&__title {
		color: $c-white;
		text-transform: uppercase;
		// font-family: $f-secondary;
		@include font-size(20px);
		margin: 0 auto;
	}

	&__checkout {
		display: block;
		width: 100%;
		padding: 20px;
		text-transform: uppercase;
		color: $c-white;
		background-color: #8cc44b;
		text-align: center;
		// font-family: $f-secondary;
	}

	&__totals {
		padding: 20px;
		background-color: $c-blue;
		text-transform: uppercase;
		color: $c-white;
		text-align: center;
		&-text {
			margin-right: 5px;
		}
		&-value {
			color: $c-white;
		}
	}

	&-product {
		padding: 10px;
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #dcdcdc;

		&__image {
			width: 95px;
			height: 95px;
			border: 1px solid $c-gray;
			border-radius: 10px;
			padding: 2px;
			overflow: hidden;
		}

		&__info {
			padding: 5px;
			max-width: 168px;
		}

		&__name {
			@include font-size(14px);
		}

		&__remove {
			background-color: transparent;
			border: none;
		}
	}

	&__count {
		display: flex;
		align-items: center;

		&-value {
			position: absolute;
			color: $c-white;
			margin-left: 5px;
			font-weight: 700;
			letter-spacing: 0.34px;
			background: $c-red;
			@include font-size(13px);
			@extend %display-flex;
			@extend %flex-align-items-center;
			@extend %flex-justify-content-center;
			border-radius: 5px;
			width: 20px;
			height: 20px;
			top: -5px;
			left: -10px;
			@include atMedium {
				top: initial;
				left: initial;
				position: relative;
				font-size: 16px;
				width: 25px;
				height: 25px;
			}
			&:after {
				@include atMedium {
					content: "";
					position: absolute;
					width: 0;
					height: 0;
					border-top: 5px solid transparent;
					border-right: 5px solid $c-red;
					border-bottom: 5px solid transparent;
					left: -5px;
				}
			}
		}
		.icon-cart--black {
			@include atMedium {
				svg {
					// stroke: #000;
					fill: #000;
					use {
						fill: #000;
					}
				}
			}
			.header--fixed & {
				fill: #bab1a8;
				use {
					fill: #bab1a8;
				}
			}
		}
	}
}
