.modaleCore {
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;

    &.active {
        display: block;
    }

    .persona__top__fig {
        float: left;
        text-align: center;
        width: 40% !important;
        background-size: 100% !important;

        img {
            max-width: 150px;
        }
    }

    .persona__top__info__name {
        font-size: 42px !important;
        line-height: 40px !important;
    }

    .persona__top__info {
        width: 60%;
        padding: 0;
        float: left;
    }

    &__opacity {
        top: 0;
        left: 0;
        z-index: 9;
        width: 100%;
        height: 100%;
        opacity: 0.4;
        position: absolute;
        background-color: #000;
    }

    &__close {
        top: 5px;
        right: 15px;
        cursor: pointer;
        font-size: 15px;
        color: #828282;
        font-weight: 700;
        line-height: 30px;
        position: absolute;
        font-family: "Open Sans";
    }

    &__content {
        top: 20%;
        left: 50%;
        z-index: 99;
        width: 400px;
        height: 500px;
        position: fixed;
        overflow-x: hidden;
        overflow-y: scroll;
        margin-left: -200px;
        background-color: #fff;
    }

    &.cadastrob2b {
        .modaleCore__content {
            overflow-x: scroll;
        }
    }

    &__middle {
        float: left;
        padding: 20px 30px;

        &__tlt {
            color: #000;
            font-size: 24px;
            font-weight: 700;
            font-style: italic;
            letter-spacing: 0.5px;
            font-family: Eurostile;
            text-transform: uppercase;
        }

        &__list {
            padding-left: 40px;
            list-style-type: circle;

            &__item {
                font-size: 12px;
                color: #000000;
                font-weight: 400;
                font-family: "Open Sans";
            }
        }
    }
}