.newsletter {
	&__form {
		@extend %display-flex;
		flex-direction: column;
		@include atMedium {
			flex-direction: row;
		}
	}
	&__input {
		flex: 1;
		background: transparent;
		border-width: 0 0 1px 0;
		border-color: $c-primary;
		margin: 0 30px;
		text-align: center;
		margin: 20px 0;
		&::placeholder {
			color: $c-primary;
			font-family: 'Open Sans';
			font-style: italic;
			@include font-size(15px);
		}
		@include atMedium {
			margin: 0 30px 0 0;
			text-align: left;
		}
	}
	&__button {
		padding: 6px 25px;
		background-color: $c-primary;
		color: $c-white;
		@include font-size(20px);
		font-weight: 500;
		margin: 0 30px;
		@include atMedium {
			margin: initial;
		}
	}
}
