.product {
  &__link {
    .product__media & {
      display: block;
    }

    &.button {
      color: $c-blue;
      border-color: $c-blue;
      font-size: 19px;
    }
  }

  &__actions {
    font-family: $f-base;
    .product--shelf & {
      display: none;
      position: absolute;
      bottom: 10px;
      width: 100%;
      justify-content: space-around;
      font-size: 19px;
    }

    .product--shelf:hover & {
      display: flex;
    }
    .product--shelf-flip & {
      display: flex;
      position: static;
    }
  }

  &__header {
    position: relative;
    .product--shelf & {
      border-radius: 5px;
      overflow: hidden;
      max-height: 365px;
      border: 1px solid $c-gray;
      padding: 2px;
    }

    .product--shelf-flip & {
      max-height: 100%;
      display: flex;
      border: none;
      justify-content: space-between;
    }
  }

  &__media {}

  &__buy {
    color: $c-white;
    background-color: $c-blue;
    border-color: $c-blue;
    .product--shelf & {
      font-size: 19px;
    }
  }

  &__name {
    color: $c-black;
    font-family: $f-base;
    font-weight: 700;

    .product--shelf & {
      text-align: center;
      padding: 5px;
      font-size: 19px;

      .product__link {
        color: $c-black;
        &:hover {
          text-decoration: none;
        }
      }
    }

    .product--shelf-flip & {
      font-weight: normal;
      font-size: 16px;
      text-align: left;
    }

  }

  &__category {
    .product--shelf & {
      padding: 5px;
      text-align: center;

      .button {
        text-transform: uppercase;
        font-size: 13px;
        border-width: 2px;
        border-color: #9e9e9e;
      }
    }
  }

  &__price {
    .product--shelf & {
      padding: 5px;
      text-align: center;
      font-family: $f-base;

      .price__list, .price__instatement {
        font-size: 22px;
        display: block;
      }

      .price__list {
        font-weight: 700;
        margin-bottom: 10px;
      }
    }
    .product--shelf-flip & {
      text-align: left;
      .price__list {
        margin-bottom: 0;
      }
    }
  }

  &--shelf {
    &-flip {
      perspective: 1000;

      
    }
  }

  &__front, &__back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: 0.8s;  	
    transform-style: preserve-3d;      	
    position: absolute;  	
    top: 0;  	
    left: 0;
    bottom: 0;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    

  }

  &__front {
    z-index: 2;
    background-color: #FFB808;

    &:hover {
      cursor: pointer;
    }
    .product--shelf-flip & {
      padding: 10px;
    }

    
    .product--shelf-flip.hover & { transform: rotateY(180deg); }

    &-inner {
      border: 2px solid $c-white;
      border-radius: 20px;
      height: 100%;
      text-align: center;
      padding: 10px 20px;
      align-items: center;
      display: flex;
      justify-content: space-between;
      flex-direction: column;


      svg {
        width: 70px;
        height: 70px;
        fill: $c-white;
      }
    }
    
  }

  &__back {
    transform: rotateY(180deg);
    background-color: #DDDDDD;
    background-image: url($logo-cart-bg);
    background-repeat: no-repeat;
    background-position: -150px -28px;
    background-size: 450px;
    
    .product--shelf-flip.hover & { transform: rotateY(0deg); }  	
    .product--shelf-flip & {
      padding: 30px;
    }
     
  }

  &__flip {
    position: relative;
    width: 350px;
    height: 350px;
    border-radius: 20px;
    overflow: hidden;

    &-phrase {
      @include font-size(28px);
      text-transform: uppercase;
      font-family: $f-secondary;
      font-weight: 700;
      color: $c-white;
    }

    &-action {
      color: $c-blue;
      margin-top: auto;
      margin-bottom: 10px;
      display: block;
    }



    
    
  }


}


.price {
  &__list {
    font-size: 14px;
    color: $c-primary;
  }
}
