%product {
	&__name {
		@extend %color-black;
	}



}

%price {
	&__old {
		color: #9b9b9b;
		@extend %font-family-unitedsans;
		@extend %text-decoration-line-through;
		font-weight: 700;
	}

	&__list {
		@extend %color-black;
		@extend %font-family-unitedsans;
		font-weight: 800;
	}

	&__installment {
		@extend %font-family-unitedsans;
		color: #9b9b9b;
		font-weight: 700;
	}
}


.product {
	&--shelf {
		&:hover {
			outline: #f2f2f2;
			outline-width: 3px;
			outline-style: solid;
			outline-offset: -3px;

			.product__media {
				opacity: 0.5;
			}

			.product__actions {
				@extend %display-block;
				width: 100%;
			}
		}

		.btn--buy {
			width: 100%;
			padding: 16px 32px;
			&.btn-list {
				display: none;
			}
		}
	}

	&__info {
		.description {
			display: none;
		}
	}

	&__name,
	.productName {
		@extend %product__name;
	}

	&__name {
		.product--shelf & {
			@include font-size(16px);
			font-weight: 400;
			text-align: center;
			max-width: 130px;
			margin: 0 auto;
			padding-top: 15px;
		}
	}

	.productName {
		font-weight: 800;
		font-family: 'Trump Gothic West';
		font-weight: 800;
		@extend %text-transform-uppercase;

		@include mq(tablet) {
			@include font-size(50px);
		}
	}

	&__link {
		@extend %product__name;
		@extend %display-block;

		&:hover {
			cursor: pointer;
		}
		img {
			width: 100%;
		}
	}

	&__price {
		@extend %display-flex;
		@extend %flex-justify-content-center;
		@extend %flex-wrap-wrap;

		.price__installment {
			width: 100%;
			@extend %display-block;
		}

		.product--shelf & {
			padding: 10px;
			width: 100%;

			.price__best {
				margin-left: 20px;
			}

			.price__installment {
				padding: 5px 0;
				text-align: center;
				@include font-size(13px);

			}
		}
	}

	&__actions {
		@extend %display-none;

		.product--shelf & {
			position: absolute;
			bottom: 0;
		}
	}

	&__media {
		.product--shelf & {
			padding: 3px;
		}
	}

	&__header {
		.product--shelf & {
			position: relative;
		}
	}

	&__info {
		.product--shelf & {
			padding: 5px;
		}
	}

}

.price {
	&__old {
		@extend %price__old;
	}

	&__list {
		@extend %price__list;
	}

	&__best {
		@extend %price__list;
	}

	&__installment {
		@extend %price__installment;
	}
}
