.shelf {
  padding: 0 10px;
  ul {
    display: flex;
		width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  li {
    padding: 10px;
    width: 100%;
		max-width: #{($g-max-width - 20)/4};

  }

  &__carousel--category {
    max-width: calc(100% - 310px);
    overflow: hidden;
    width: 100%;

  }

	.prateleira {
		& > h2 {
			display: none;
		}
	}

  &__button {
    border: none;
    background-color: transparent;
    .shelf__carousel--full & {
      height: 60px;
      top: 50%;
      margin-top: -30px;
      position: absolute;
      z-index: 10;
      outline: none;
      svg {
        width: 30px;
      }

      &.slick-prev {
        left: -30px;
      }

      &.slick-next {
        right: -30px;
      }

    }

    .shelf__brand & {
      svg {
        width: 30px;
      }
    }
  }

  &__brand {
    li {
      text-align: center;
    }

    a {
      display: block;
      width: 100%;
      text-align: center;
    }

    img {
      margin: 0 auto;
    }
  }

  &--flip {
    ul {
      flex-wrap: wrap;
      justify-content: space-between;
    }
    li {
      max-width: 350px;
      margin: 20px auto;
    }
  }


}

.buy-by-category {
  display: flex;
  align-items: stretch;
  justify-content: space-between;

  & + .buy-by-category {
    margin-top: 20px;
  }

  .slick-arrow {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $c-white;
    border: none;
    box-shadow: 0px 1px 10px 1px #cccccc;
    padding: 8px 5px;
  }

  .category__card {

    max-width: 275px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;
    background-color: #eeeeee;
    &-header {
      position: relative;
      height: 275px;
    }

    &-info {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 10px;
      font-family: $f-secondary;
    }

    &-media {
      width: 275px;
      height: 275px;
      background-repeat: no-repeat;
      img {
        display: none;
      }
    }
  }
  .category__menu {
    background-color: #eeeeee;
    padding: 10px;
    text-align: center;

    li {
      margin: 10px 0;
    }

    a {
      border: 1px solid $c-primary;
      color: $c-primary;
      background-color: $c-white;
      border-radius: 10px;
      &:hover {
        background-color: $c-primary;
        text-decoration: none;
        color: $c-white;
      }
    }
  }  .category__name {
    display: block;
    color: $c-white;
    font-weight: 700;
    font-size: 18px;
  }

  .category__link {
    color: #bebebe;
  }

  .slick-arrow svg {
    width: 8px;
  }

  .shelf .slick-slider {
    display: block;
  }

  .shelf .slick-arrow {
    position: absolute;
    z-index: 20;
    top: 50%;
    margin-top: -15px;
  }

  .shelf .slick-next {
    right: 0;
  }

  .menu-list .slick-prev {
    transform: rotate(90deg);
  }

  .menu-list .slick-next {
    transform: rotate(90deg);
  }


}
