header.sticky__header {
    .header__info__contact-bar {
        display: none;
    }

    .header__search-form {
        .search-form {
            margin-top: 11px;
        }
    }

    .header__minicart {
        .minicart {
            margin-top: 10px;

            .minicart__count-value {
                color: #e75300;
            }

            svg {
                use {
                    fill: #bab1a8;
                }
            }
        }
    }
    
    .header__area {
        height: 80px;
        padding: 12px 0;
        background: url(/arquivos/textura-areas.png) repeat scroll 0 0 transparent;
    }

    .header__info__logo__link {
        height: 75px;
        background-color: #fbf7f1;

        svg {
            height: 68px;

            g {
                g:first-of-type {
                    use {
                        fill: #fbf7f1;
                    }
                }

                use {
                    fill: #000;
                }

                &:nth-child(5),
                &:nth-child(6),
                &:nth-child(7),
                &:nth-child(8) {
                    use {
                        fill: rgb(231, 83, 0);
                    }
                }
            }
        }
    }
}