extends ../layouts/default.pug

block vars
  - var pageTitle = 'Categoria'
  - var bodyClass = 'catalog category'

block content
  section.sextion__page.section__title
    h2
      +vtex-controller('<vtex.cmc:searchTitle />')
        | Camisa
  section.section__page.section__navTop
    .container
      .section__navTop__filter
        a(href="", class="btnOpenFilter")
          i.icon-arrow_filter
          | Monstrar filtro
        a(href="", class="btnClear")
          i.icon-clouse
          | Limpar filtro

      .section__navTop__numberProduct
        p Monstrar
          b Produtos
            span 1 - 24
          | de 124
      .section__navTop__orderBy
        .container.is-fluid
          .section__inner
            p ORDENAR POR:
            .orderBy
              .select
                select
                  option(value='') Selecionar
                  option(value='OrderByPriceASC') Menor Preço
                  option(value='OrderByPriceDESC') Maior Preço
                  option(value='OrderByTopSaleDESC') Mais vendidos
                  option(value='OrderByReviewRateDESC') Melhores avaliações
                  option(value='OrderByNameASC') A - Z
                  option(value='OrderByNameDESC') Z - A
                  option(value='OrderByReleaseDateDESC') Data de lançamento
                  option(value='OrderByBestDiscountDESC') Melhor Desconto
        .section__navTop__orderBy--grid
          a(href="#", class="grid_grade")
            i.icon-grid-grade
          a(href="#", class="grid_list")
            i.icon-menu
  section.section__page.section__filter.container
    .category__filter.filter
      .filter__inner
        .filter__content
          ul.filter__menu
            li.filter__item
              span Todos
              .filter__options
                label
          .filter__actions
            button.button.button--primary Aplicar
        +vtex-controller('<vtex.cmc:searchNavigator />')
          include ../vtexParts/filter.pug
  section.section__page.section__shelf.shelf
    .container.is-fluid
      .shelf__filter

      .shelf__vitrine
        +vtex-controller('<vtex.cmc:searchResult layout="65c15678-2bbe-72e0-3aa6-0aa635db2f86" itemCount="12"  columnCount="4" />')
          include ../vtexParts/searchResult.pug


block scripts
  script(src='/arquivos/vtex-SmartResearch.js?v=%PROJECT_VERSION%')
