extends ../layouts/default.pug

block vars
	- var pageTitle = 'Categoria'
	- var bodyClass = 'catalog empty-search'

block content
	section.section__search-term
		p.empty-search__term-title
			| Busca por:
		p.empty-search__term-result
			| asdnbakdasnkdj
	section.section__search-body
		i.empty-search__ico
			include ../../svg/lupa-search.svg
		h2.empty-search__title
			| <strong>Desculpe.</strong> Não encontramos nenhum resultado para o termo digitado.
		p.empty-search__tip
			| <strong>(Dica.</strong> Tente palavras menos específicas, digite palavras-chave diferentes ou se preferir navegue no nosso Menu.)
	section.section__page.section__shelf
		.container
			h2.shelf__title
				| Produtos em Destaque
				include ../../svg/decor.svg
			.shelf.shelf__carousel--full
				+vtex-controller('<vtex:contentPlaceHolder id="Colecao Novidades"/>')
					.prateleira
						ul
							each val in [1, 2, 3, 4, 5, 6, 7, 8, 9]
								li
									include ../shelves/prateleira
			.section__page.viewmore
				a("/category").viewmore__txt + Veja Mais
