extends ../layouts/default.pug

block vars
	- var pageTitle = 'Categoria'
	- var bodyClass = 'catalog empty-search'

block content
		section.section__page.section__diff
				.diff.container
						.diff__container
								.diff__box
										.diff__icon.diff__icon--boleto
												include ../../svg/coupon.svg
										.diff__info
												span.diff__title 10% de desconto no boleto
												span.diff__subtitle em todos os produtos do site
								.diff__box
										.diff__icon.diff__icon--frete
												include ../../svg/truck.svg
										.diff__info
												span.diff__title frete grátis
												span.diff__subtitle a partir de R$ 299 para o Sudeste
								.diff__box
										.diff__icon.diff__icon--troca
												include ../../svg/refresh.svg
										.diff__info
												span.diff__title troca grátis (7 dias)
												span.diff__subtitle Tranquilidade na sua primeira compra
								.diff__box
										.diff__icon.diff__icon--atacado
												include ../../svg/percent.svg
										.diff__info
												span.diff__title Compre no Atacado
												span.diff__subtitle Receba descontos especiais
		section.section__page.section__empty
			.section__inner.container
				.empty
					.empty__inner
						i.empty__icon
								include ../../svg/search.svg
						span.empty__title
							|	DESCULPE. NÃO ENCONTRAMOS NENHUM RESULTADO PARA O TERMO DIGITADO.
						span.empty__subtitle
							|	Dica: Tente palavras menos específicas digite palavras-chave diferentes ou se preferir navegue no nosso Menu.
		section.section__page.section__shelf
			.container
				h2.section__title Ofertas da semana
				+vtex-controller('<vtex:contentPlaceHolder id="Ofertas da semana" />')
					.shelf.prateleira
						ul
							each val in [1, 2, 3, 4, 5]
								li
									include ../shelves/prateleira



