extends ../layouts/default.pug

block vars
	- var pageTitle = 'Home'
	- var bodyClass = 'home '

block content
	section.section__hero
		.banner.banner--full
			.slide-count-wrap
				.slide-counter
					span.current
					span.total
				.progress(role='progressbar', aria-valuemin='0', aria-valuemax='100')
			.banner__inner
				+vtex-controller('<vtex:contentPlaceHolder id="Banner Full"/>')
					.box-banner
						a(href="")
							img(src="/arquivos/banner-ex.jpg")/
					.box-banner
						a(href="")
							img(src="/arquivos/banner-ex.jpg")/
					.box-banner
						a(href="")
							img(src="/arquivos/banner-ex.jpg")/
		.banner.banner--mobile
			.banner__inner
				+vtex-controller('<vtex:contentPlaceHolder id="Banner Full Mobile" />')
					.box-banner
						a(href="")
							img(src="https://via.placeholder.com/750x869")/
					.box-banner
						a(href="")
							img(src="https://via.placeholder.com/750x869")/
					.box-banner
						a(href="")
							img(src="https://via.placeholder.com/750x869")/


	section.section__page.section__shelf
		.container
			h2.shelf__title
				| Produtos em Destaque
				include ../../svg/decor.svg
			.shelf.shelf__carousel--full
				+vtex-controller('<vtex:contentPlaceHolder id="Produtos em Destaque"/>')
					.prateleira
						ul
							each val in [1, 2, 3, 4, 5, 6, 7, 8, 9]
								li
									include ../shelves/prateleira
			.section__page.viewmore
				a(href="/category").viewmore__txt + Veja Mais

	section.section__page.section__banner
		.banner.banner__static
			+vtex-controller('<vtex:contentPlaceHolder id="Banner Middle Page"/>')
				.box-banner
					a(href="")
						img(src="/arquivos/banner-static.png")/
		.banner.banner__static--mobile
			+vtex-controller('<vtex:contentPlaceHolder id="Banner Middle Page Mobile"/>')
				.box-banner
					a(href="")
						img(src="/arquivos/banner-static-mobile.png")/

	section.section__page.section__shelf
		.container
			h2.shelf__title
				| Ofertas da Semana
				include ../../svg/decor.svg
			.shelf.shelf__carousel--full
				+vtex-controller('<vtex:contentPlaceHolder id="Ofertas da Semana"/>')
					.prateleira
						ul
							each val in [1, 2, 3, 4, 5, 6, 7, 8, 9]
								li
									include ../shelves/prateleira
			.section__page.viewmore
				a(href="/category").viewmore__txt + Veja Mais



