.comprecategoria__box
  .container
    ul.comprecategoria__box__list
      +vtex-controller('<vtex:contentPlaceHolder id="comprecategoriabottom" />')
        li.comprecategoria__box__list__item
          .box-banner
            a(href="")
              img(src="/arquivos/mini-banner-bottom1.png")/
        li.comprecategoria__box__list__item
          .box-banner
            a(href="")
              img(src="/arquivos/mini-banner-bottom2.png")/
        li.comprecategoria__box__list__item
          .box-banner
            a(href="")
              img(src="/arquivos/mini-banner-bottom3.png")/