.comprecategoria__box
  .container
    .comprecategoria__box__list
      +vtex-controller('<vtex:contentPlaceHolder id="comprecategoriabottom" />')
        .box-banner
          a(href="")
            img(src="/arquivos/mini-banner-bottom1.png")/
        .box-banner
          a(href="")
            img(src="/arquivos/mini-banner-bottom2.png")/
        .box-banner
          a(href="")
            img(src="/arquivos/mini-banner-bottom3.png")/