.comprecategoria__box
  .container
    ul.comprecategoria__box__list
      +vtex-controller('<vtex:contentPlaceHolder id="comprecategoriatop" />')
        li.comprecategoria__box__list__item
          .box-banner
            a(href="")
              img(src="/arquivos/comprecategoriatop-1.png")/
        li.comprecategoria__box__list__item
          .box-banner
            a(href="")
              img(src="/arquivos/comprecategoriatop-2.png")/
        li.comprecategoria__box__list__item
          .box-banner
            a(href="")
              img(src="/arquivos/comprecategoriatop-3.png")/
        li.comprecategoria__box__list__item
          .box-banner
            a(href="")
              img(src="/arquivos/comprecategoriatop-4.png")/
        li.comprecategoria__box__list__item
          .box-banner
            a(href="")
              img(src="/arquivos/comprecategoriatop-5.png")/
        li.comprecategoria__box__list__item
          .box-banner
            a(href="")
              img(src="/arquivos/comprecategoriatop-6.png")/