
.comprecategoria__box
	.container
		.comprecategoria__box__list
			.cattop.cattop--1
				.cattop__tlt Novidades
				.cattop__buy Compre Agora
			.cattop.cattop--2
				.cattop__tlt Masculino
				.cattop__buy Compre Agora
			.cattop.cattop--3
				.cattop__tlt Feminino
				.cattop__buy Compre Agora
			.cattop.cattop--4
				.cattop__tlt Calçados
				.cattop__buy Compre Agora
			.cattop.cattop--5
				.cattop__tlt Mochila
				.cattop__buy Compre Agora
			.cattop.cattop--6
				.cattop__tlt Fitness
				.cattop__buy Compre Agora