
.comprecategoria__box
	.container
		.comprecategoria__box__list
			a(href="/masculino/novidades").cattop.cattop--1
				.cattop__wrapper
					.cattop__tlt Novidades
					.cattop__buy Compre Agora
			a(href="/masculino").cattop.cattop--2
				.cattop__wrapper
					.cattop__tlt Masculino
					.cattop__buy Compre Agora
			a(href="/feminino").cattop.cattop--3
				.cattop__wrapper
					.cattop__tlt Feminino
					.cattop__buy Compre Agora
			a(href="/masculino/calcados").cattop.cattop--4
				.cattop__wrapper
					.cattop__tlt Calçados
					.cattop__buy Compre Agora

			a(href="/bolsas-e-mochilas").cattop.cattop--5
				.cattop__wrapper
					.cattop__tlt Mochilas
					.cattop__buy Compre Agora
			a(href="/fitness").cattop.cattop--6
				.cattop__wrapper
					.cattop__tlt Fitness
					.cattop__buy Compre Agora
