.comprecategoria__box
  .container
    .comprecategoria__box__list
      +vtex-controller('<vtex:contentPlaceHolder id="comprecategoriatop" />')
        .box-banner
          a(href="")
            img(src="/arquivos/comprecategoriatop-1.png")/
        .box-banner
          a(href="")
            img(src="/arquivos/comprecategoriatop-2.png")/
        .box-banner
          a(href="")
            img(src="/arquivos/comprecategoriatop-3.png")/
        .box-banner
          a(href="")
            img(src="/arquivos/comprecategoriatop-4.png")/
        .box-banner
          a(href="")
            img(src="/arquivos/comprecategoriatop-5.png")/
        .box-banner
          a(href="")
            img(src="/arquivos/comprecategoriatop-6.png")/