.forms-b2b
    form.form__default__style.login(action="")
        fieldset.form__default__style__main
            button.form__default__style__main__btn Criar Conta
            button.form__default__style__main__btn Já Possuo Cadastro
        .form__default__style__main.step2
            label.form__default__style__main__tlt CNPJ
            input.form__default__style__main__field(type="text")/
            label.form__default__style__main__tlt Senha
            input.form__default__style__main__field(type="text")/
            button.form__default__style__main__btn Entrar
            a.form__default__style__main__forget(href="") Esqueceu sua senha
            hr/
            button.form__default__style__main__btn Criar uma conta
            
    form.form__default__style.cadastro(action="")
        .step2
            fieldset.form__default__style__main
                label.form__default__style__main__tlt Inscrição Estadual
                input.form__default__style__main__field(type="text")/
            fieldset.form__default__style__main
                label.form__default__style__main__tlt Isento
                input.form__default__style__main__field(type="text")/
            fieldset.form__default__style__main
                label.form__default__style__main__tlt Endereço Comercial
                input.form__default__style__main__field(type="text")/
            fieldset.form__default__style__main
                label.form__default__style__main__tlt Segmento
                input.form__default__style__main__field(type="text")/
            fieldset.form__default__style__main
                label.form__default__style__main__tlt Nome do Responsável
                input.form__default__style__main__field(type="text")/
            fieldset.form__default__style__main
                label.form__default__style__main__tlt E-mail do Responsável
                input.form__default__style__main__field(type="text")/
            fieldset.form__default__style__main
                label.form__default__style__main__tlt Telefone do Responsável
                input.form__default__style__main__field(type="text")/
            fieldset.form__default__style__main
                label.form__default__style__main__tlt Senha
                input.form__default__style__main__field(type="text")/
            fieldset.form__default__style__main
                label.form__default__style__main__tlt Repita a Senha
                input.form__default__style__main__field(type="text")/
            fieldset.form__default__style__main
                label.form__default__style__main__tlt Imagem do estabelecimento
                p
                input.form__default__style__main__field(type="file")/
            fieldset.form__default__style__main
                button.form__default__style__main__btn Confirmar Cadastro
                button.form__default__style__main__btn Voltar