.diff
  .diff__container
    .diff__box
      i.diff__icon.icon-coupon
      .diff__info
        span.diff__title 10% de desconto no boleto
        span.diff__subtitle em todos os produtos do site
    .diff__box
      i.diff__icon.icon-truck
      .diff__info
        span.diff__title frete grátis
        span.diff__subtitle a partir de R$ 299 para o Sudeste
    .diff__box
      i.diff__icon.icon-refresh
      .diff__info
        span.diff__title troca grátis (7 dias)
        span.diff__subtitle Tranquilidade na sua primeira compra
    .diff__box
      i.diff__icon.icon-atacado
      .diff__info
        span.diff__title Compre no Atacado
        span.diff__subtitle Receba descontos especiais
