ul.menu__dropdown
	li.menu__dropdown-item
		a.menu__dropdown-link(href="") Camisas Gola V
	li.menu__dropdown-item
		a.menu__dropdown-link(href="") Camisas Gola Redonda
	li.menu__dropdown-item
		a.menu__dropdown-link(href="") Camisas Estampadas
