ul.menu__dropdown
	li.menu__dropdown-item
		a.menu__dropdown-link(href="/vestuario/masculino/Camisas-Pólo") Camisas Pólo
	li.menu__dropdown-item
		a.menu__dropdown-link(href="/vestuario/masculino/Camisetas-Gola-O") Camisas Gola Redonda
	li.menu__dropdown-item
		a.menu__dropdown-link(href="/vestuario/masculino/Camisetas-Gola-V") Camisetas Gola V
	li.menu__dropdown-item.todos
		a.menu__dropdown-link(href="/vestuario/masculino") Ver Todos
