script(type='text/javascript', language='javascript').
                        $(document).ready(function() {
                        partialSearchUrl = '/busca?lid=c0383f44-9f25-44e5-9bae-a9ffb3ea49bf&';
                        });
                    .navigation-tabs
                        .menu-departamento
                        span.rt
                        span.rb
                        div
                            .menu-navegue
                            a.search-navigator-tab.tab-navegue-ativo(title='Navegue', href='#') Navegar
                            a.search-navigator-tab.tab-refinar(title='Refinar Resultado', href='#') Refinar Resultado
                            .search-multiple-navigator(style='display: none;')
                            h3.casa-e-jardim
                                span
                                a(href='https://tactical.vtexcommercestable.com.br/casa-e-jardim', title='Casa e Jardim') Casa e Jardim
                            h4.casa-e-jardim
                                span
                                a(href='https://tactical.vtexcommercestable.com.br/casa-e-jardim', title='Casa e Jardim') Casa e Jardim
                            a.bt-refinar.search-filter-button.even(title='Refinar Resultado', href='#') Refinar Resultado
                            fieldset.refino-marca.even
                                h5.even Marca
                                div
                                    label
                                        input.multi-search-checkbox(rel='fq=B:2000001', type='checkbox', name='2000001', value='2000001')
                                        | Black & Decker (2)
                                    label
                                        input.multi-search-checkbox(rel='fq=B:2000003', type='checkbox', name='2000003', value='2000003')
                                        | Fertak Tools (1)
                                    label
                                        input.multi-search-checkbox(rel='fq=B:2000007', type='checkbox', name='2000007', value='2000007')
                                        | Gamma (1)
                                    label
                                        input.multi-search-checkbox(rel='fq=B:2000009', type='checkbox', name='2000009', value='2000009')
                                        | Intech Machine (4)
                                    label
                                        input.multi-search-checkbox(rel='fq=B:2000017', type='checkbox', name='2000017', value='2000017')
                                        | Perlex (4)
                                    label
                                        input.multi-search-checkbox(rel='fq=B:2000028', type='checkbox', name='2000028', value='2000028')
                                        | Plasmar (1)
                                    label
                                        input.multi-search-checkbox(rel='fq=B:2000018', type='checkbox', name='2000018', value='2000018')
                                        | Venti Delta (3)
                            fieldset.refino(class='Especificações')
                                h5(class='Especificações') Modelo
                                div
                            fieldset.refino.even(class='Especificações')
                                h5.even(class='Especificações') Marca
                                div
                            fieldset.refino(class='Especificações')
                                h5(class='Especificações') Dimensões
                                div
                            fieldset.refino.even(class='Especificações')
                                h5.even(class='Especificações') Componentes
                                div
                            fieldset.refino(class='Especificações')
                                h5(class='Especificações') Garantia
                                div
                            fieldset.refino.even(class='Especificações')
                                h5.even(class='Especificações') Alimentação
                                div
                            fieldset.refino(class='Especificações')
                                h5(class='Especificações') Diâmetro do Disco
                                div
                            fieldset.refino.even(class='Especificações')
                                h5.even(class='Especificações') Vida Útil
                                div
                            fieldset.refino(class='Especificações')
                                h5(class='Especificações') Tipo de Soquete
                                div
                            fieldset.refino.even(class='Especificações')
                                h5.even(class='Especificações') Fluxo Luminoso
                                div
                            fieldset.refino(class='Especificações')
                                h5(class='Especificações') Tipo
                                div
                            fieldset.refino.even(class='Especificações')
                                h5.even(class='Especificações') Tamanho
                                div
                            fieldset.refino(class='Especificações')
                                h5(class='Especificações') Certificação
                                div
                            fieldset.refino.even(class='Especificações')
                                h5.even(class='Especificações') Rendimento
                                div
                            fieldset.refino(class='Especificações')
                                h5(class='Especificações') Aplicação
                                div
                            fieldset.refino.even(class='Especificações')
                                h5.even(class='Especificações') Tensão
                                div
                            fieldset.refino(class='Especificações')
                                h5(class='Especificações') Fixação
                                div
                            fieldset.refino.even(class='Especificações')
                                h5.even(class='Especificações') Material
                                div
                            fieldset.refino(class='Especificações')
                                h5(class='Especificações') Diluição
                                div
                            fieldset.refino.even(class='Especificações')
                                h5.even(class='Especificações') Peso
                                div
                            .search-single-navigator(style='display:block')
                            h3.casa-e-jardim
                                span
                                a(href='https://tactical.vtexcommercestable.com.br/casa-e-jardim', title='Casa e Jardim') Casa e Jardim
                            ul.productClusterSearchableIds.even
                                li.last
                                a(href='https://tactical.vtexcommercestable.com.br/casa-e-jardim/137?PS=12&map=c,productClusterSearchableIds', title='Todos') Todos (16)
                            h4.casa-e-jardim.even
                                a(href='https://tactical.vtexcommercestable.com.br/casa-e-jardim/lavadora-de-pressao?PS=12', title='Lavadora de Pressão') Lavadora de Pressão (1)
                            ul.lavadora-de-pressao.even
                            h4.casa-e-jardim.even
                                a(href='https://tactical.vtexcommercestable.com.br/casa-e-jardim/cortador-de-grama?PS=12', title='Cortador de Grama') Cortador de Grama (1)
                            ul.cortador-de-grama.even
                            h4.casa-e-jardim.even
                                a(href='https://tactical.vtexcommercestable.com.br/casa-e-jardim/pulverizadores?PS=12', title='Pulverizadores') Pulverizadores (3)
                            ul.pulverizadores.even
                            h4.casa-e-jardim.even
                                a(href='https://tactical.vtexcommercestable.com.br/casa-e-jardim/suportes-para-tv?PS=12', title='Suportes para Tv') Suportes para Tv (1)
                            ul.suportes-para-tv.even
                            h4.casa-e-jardim.even
                                a(href='https://tactical.vtexcommercestable.com.br/casa-e-jardim/pistola-de-pintura?PS=12', title='Pistola de Pintura') Pistola de Pintura (2)
                            ul.pistola-de-pintura.even
                            h4.casa-e-jardim.even
                                a(href='https://tactical.vtexcommercestable.com.br/casa-e-jardim/portas-sanfonadas?PS=12', title='Portas Sanfonadas') Portas Sanfonadas (4)
                            ul.portas-sanfonadas.even
                            h4.casa-e-jardim.even
                                a(href='https://tactical.vtexcommercestable.com.br/casa-e-jardim/exaustores?PS=12', title='Exaustores') Exaustores (2)
                            ul.exaustores.even
                            h4.casa-e-jardim.even
                                a(href='https://tactical.vtexcommercestable.com.br/casa-e-jardim/umidificador-de-ar?PS=12', title='Umidificador de Ar') Umidificador de Ar (1)
                            ul.umidificador-de-ar.even
                            h4.casa-e-jardim.even
                                a(href='https://tactical.vtexcommercestable.com.br/casa-e-jardim/escadas?PS=12', title='Escadas') Escadas (1)
                            ul.escadas.even
                            h5.Hide.HideMarca Marca
                            ul.Marca
                                li
                                a(href='https://tactical.vtexcommercestable.com.br/casa-e-jardim/black---decker?PS=12', title='Black & Decker') Black & Decker (2)
                                li
                                a(href='https://tactical.vtexcommercestable.com.br/casa-e-jardim/fertak-tools?PS=12', title='Fertak Tools') Fertak Tools (1)
                                li
                                a(href='https://tactical.vtexcommercestable.com.br/casa-e-jardim/gamma?PS=12', title='Gamma') Gamma (1)
                                li
                                a(href='https://tactical.vtexcommercestable.com.br/casa-e-jardim/intech-machine?PS=12', title='Intech Machine') Intech Machine (4)
                                li
                                a(href='https://tactical.vtexcommercestable.com.br/casa-e-jardim/perlex?PS=12', title='Perlex') Perlex (4)
                                li
                                a(href='https://tactical.vtexcommercestable.com.br/casa-e-jardim/plasmar?PS=12', title='Plasmar') Plasmar (1)
                                li.last
                                a(href='https://tactical.vtexcommercestable.com.br/casa-e-jardim/venti-delta?PS=12', title='Venti Delta') Venti Delta (3)
                            h5.Hide.HideModelo(class='Especificações') Modelo
                            ul.Modelo(class='Especificações')
                            h5.Hide.even.HideMarca(class='Especificações') Marca
                            ul.Marca.even(class='Especificações')
                            h5.Hide.HideDimensoes(class='Especificações') Dimensões
                            ul(class='Dimensões Especificações')
                            h5.Hide.even.HideComponentes(class='Especificações') Componentes
                            ul.Componentes.even(class='Especificações')
                            h5.Hide.HideGarantia(class='Especificações') Garantia
                            ul.Garantia(class='Especificações')
                            h5.Hide.even.HideAlimentacao(class='Especificações') Alimentação
                            ul.even(class='Alimentação Especificações')
                            h5.Hide.HideDiametro-do-Disco(class='Especificações') Diâmetro do Disco
                            ul.do.Disco(class='Diâmetro Especificações')
                            h5.Hide.even.HideVida-Util(class='Especificações') Vida Útil
                            ul.Vida.even(class='Útil Especificações')
                            h5.Hide.HideTipo-de-Soquete(class='Especificações') Tipo de Soquete
                            ul.Tipo.de.Soquete(class='Especificações')
                            h5.Hide.even.HideFluxo-Luminoso(class='Especificações') Fluxo Luminoso
                            ul.Fluxo.Luminoso.even(class='Especificações')
                            h5.Hide.HideTipo(class='Especificações') Tipo
                            ul.Tipo(class='Especificações')
                            h5.Hide.even.HideTamanho(class='Especificações') Tamanho
                            ul.Tamanho.even(class='Especificações')
                            h5.Hide.HideCertificacao(class='Especificações') Certificação
                            ul(class='Certificação Especificações')
                            h5.Hide.even.HideRendimento(class='Especificações') Rendimento
                            ul.Rendimento.even(class='Especificações')
                            h5.Hide.HideAplicacao(class='Especificações') Aplicação
                            ul(class='Aplicação Especificações')
                            h5.Hide.even.HideTensao(class='Especificações') Tensão
                            ul.even(class='Tensão Especificações')
                            h5.Hide.HideFixacao(class='Especificações') Fixação
                            ul(class='Fixação Especificações')
                            h5.Hide.even.HideMaterial(class='Especificações') Material
                            ul.Material.even(class='Especificações')
                            h5.Hide.HideDiluicao(class='Especificações') Diluição
                            ul(class='Diluição Especificações')
                            h5.Hide.even.HidePeso(class='Especificações') Peso
                            ul.Peso.even(class='Especificações')
                    .urlLastSearch(style='display:none')
                        | http://tactical.vtexcommercestable.com.br/casa-e-jardim/?lid=c0383f44-9f25-44e5-9bae-a9ffb3ea49bf

