.menu-departamento
	span.rt
	span.rb
	h3.TESTE
		span
			a.menu-item-texto(href='https://tactical.vtexcommercestable.com.br/ferramentas-eletricas') Ferramentas Elétricas
	ul.ferramentas-eletricas
		li
			a(href='https://tactical.vtexcommercestable.com.br/ferramentas-eletricas/esmerilhadeiras') Esmerilhadeiras
		li
			a(href='https://tactical.vtexcommercestable.com.br/ferramentas-eletricas/furadeiras') Furadeiras
		li
			a(href='https://tactical.vtexcommercestable.com.br/ferramentas-eletricas/parafusadeiras') Parafusadeiras
		li
			a(href='https://tactical.vtexcommercestable.com.br/ferramentas-eletricas/serra-marmore') Serra Mármore
		li
			a(href='https://tactical.vtexcommercestable.com.br/ferramentas-eletricas/serra-circular') Serra Circular
		li
			a(href='https://tactical.vtexcommercestable.com.br/ferramentas-eletricas/serra-de-bancada') Serra de Bancada
		li
			a(href='https://tactical.vtexcommercestable.com.br/ferramentas-eletricas/serra-meia-esquadria') Serra Meia Esquadria
		li
			a(href='https://tactical.vtexcommercestable.com.br/ferramentas-eletricas/micro-retifica') Micro Retifica
		li
			a(href='https://tactical.vtexcommercestable.com.br/ferramentas-eletricas/marteletes') Marteletes
		li
			a(href='https://tactical.vtexcommercestable.com.br/ferramentas-eletricas/lixadeiras') Lixadeiras
		li
			a(href='https://tactical.vtexcommercestable.com.br/ferramentas-eletricas/plainas') Plainas
		li
			a(href='https://tactical.vtexcommercestable.com.br/ferramentas-eletricas/moto-esmeril') Moto Esmeril
		li
			a(href='https://tactical.vtexcommercestable.com.br/ferramentas-eletricas/acessorios') Acessórios
		li
			a(href='https://tactical.vtexcommercestable.com.br/ferramentas-eletricas/soprador-termico') Soprador Térmico
		li
			a(href='https://tactical.vtexcommercestable.com.br/ferramentas-eletricas/serra-corte-rapido') Serra Corte Rápido
		li
			a(href='https://tactical.vtexcommercestable.com.br/ferramentas-eletricas/serra-tupia') Serra Tupia
	h3.ferramentas-manuais.even
		span
		a.menu-item-texto(href='https://tactical.vtexcommercestable.com.br/ferramentas-manuais') Ferramentas Manuais
	ul.ferramentas-manuais.even
		li
			a(href='https://tactical.vtexcommercestable.com.br/ferramentas-manuais/chaves-de-fenda-e-philips') Chaves de Fenda e Philips
		li
			a(href='https://tactical.vtexcommercestable.com.br/ferramentas-manuais/jogo-de-soquetes') Jogo de Soquetes
		li
			a(href='https://tactical.vtexcommercestable.com.br/ferramentas-manuais/alicates') Alicates
		li
			a(href='https://tactical.vtexcommercestable.com.br/ferramentas-manuais/chave-combinada') Chave Combinada
		li
			a(href='https://tactical.vtexcommercestable.com.br/ferramentas-manuais/grampos') Grampos
		li
			a(href='https://tactical.vtexcommercestable.com.br/ferramentas-manuais/martelo') Martelo
		li
			a(href='https://tactical.vtexcommercestable.com.br/ferramentas-manuais/chave-pecisao') Chave Pecisão
		li
			a(href='https://tactical.vtexcommercestable.com.br/ferramentas-manuais/chave-de-teste') Chave de Teste
		li
			a(href='https://tactical.vtexcommercestable.com.br/ferramentas-manuais/lixas') Lixas
		li
			a(href='https://tactical.vtexcommercestable.com.br/ferramentas-manuais/bolsas-e-caixas-para-ferramentas') Bolsas e Caixas Para Ferramentas
	h3.iluminacao
		span
		a.menu-item-texto(href='https://tactical.vtexcommercestable.com.br/iluminacao') Iluminação
	ul.iluminacao
		li
			a(href='https://tactical.vtexcommercestable.com.br/iluminacao/lampadas') Lâmpadas
	h3.bombas.even
		span
		a.menu-item-texto(href='https://tactical.vtexcommercestable.com.br/bombas') Bombas
	ul.bombas.even
		li
			a(href='https://tactical.vtexcommercestable.com.br/bombas/bomba-pressurizadora') Bomba Pressurizadora
		li
			a(href='https://tactical.vtexcommercestable.com.br/bombas/bomba-periferica') Bomba Periférica
	h3.construcao-civil
		span
		a.menu-item-texto(href='https://tactical.vtexcommercestable.com.br/construcao-civil') Construção Civil
	ul.construcao-civil
		li
			a(href='https://tactical.vtexcommercestable.com.br/construcao-civil/trena') Trena
		li
			a(href='https://tactical.vtexcommercestable.com.br/construcao-civil/nivel') Nível
	h3.casa-e-jardim.even
		span
		a.menu-item-texto(href='https://tactical.vtexcommercestable.com.br/casa-e-jardim') Casa e Jardim
	ul.casa-e-jardim.even
		li
			a(href='https://tactical.vtexcommercestable.com.br/casa-e-jardim/lavadora-de-pressao') Lavadora de Pressão
		li
			a(href='https://tactical.vtexcommercestable.com.br/casa-e-jardim/cortador-de-grama') Cortador de Grama
		li
			a(href='https://tactical.vtexcommercestable.com.br/casa-e-jardim/pulverizadores') Pulverizadores
		li
			a(href='https://tactical.vtexcommercestable.com.br/casa-e-jardim/suportes-para-tv') Suportes para Tv
		li
			a(href='https://tactical.vtexcommercestable.com.br/casa-e-jardim/pistola-de-pintura') Pistola de Pintura
	h3.automotivo
		span
		a.menu-item-texto(href='https://tactical.vtexcommercestable.com.br/automotivo') Automotivo
	ul.automotivo
		li
			a(href='https://tactical.vtexcommercestable.com.br/automotivo/politriz') Politriz
		li
			a(href='https://tactical.vtexcommercestable.com.br/automotivo/raspador-de-insulfilm') Raspador de Insulfilm
	h3.compressores.even
		span
		a.menu-item-texto(href='https://tactical.vtexcommercestable.com.br/compressores') Compressores
	ul.compressores.even
		li
			a(href='https://tactical.vtexcommercestable.com.br/compressores/compressores-de-ar') Compressores de Ar
		li
			a(href='https://tactical.vtexcommercestable.com.br/compressores/acessorios') Acessórios
	h3.quimicos
		span
		a.menu-item-texto(href='https://tactical.vtexcommercestable.com.br/quimicos') Químicos
	ul.quimicos
		li
			a(href='https://tactical.vtexcommercestable.com.br/quimicos/colas') Colas
	h3.hidraulica.even
		span
		a.menu-item-texto(href='https://tactical.vtexcommercestable.com.br/hidraulica') Hidráulica
	ul.hidraulica.even
		li
			a(href='https://tactical.vtexcommercestable.com.br/hidraulica/boias') Boias
	h3.solda
		span
		a.menu-item-texto(href='https://tactical.vtexcommercestable.com.br/solda') Solda
	ul.solda
		li
			a(href='https://tactical.vtexcommercestable.com.br/solda/maquinas-de-solda') Máquinas de Solda
		li
			a(href='https://tactical.vtexcommercestable.com.br/solda/mascara-de-solda') Máscara de Solda
