.apresentacao
	#setaThumbs
	#show
		#include
			#image(productindex='0')
				a.image-zoom(href='https://tactical.vteximg.com.br/arquivos/ids/155524-1000-1000/12110_120_01.jpg?v=636737535706500000', rel='undefined', title='', style='outline-style: none; text-decoration: none;')
					.zoomPad
						img#image-main.sku-rich-image-main(src='https://tactical.vteximg.com.br/arquivos/ids/155524-500-500/12110_120_01.jpg?v=636737535706500000', productindex='0', title='', style='opacity: 1;')
						.zoomPup(style='top: 101.5px; left: 101.5px; width: 87px; height: 87px; position: absolute; border-width: 1px; display: none;')
						.zoomWindow(style='position: absolute; z-index: 5001; left: 302px; top: 0px; display: none;')
							.zoomWrapper(style='width: 300px;')
								.zoomWrapperTitle(style='width: 100%; position: absolute; display: none;')
								.zoomWrapperImage(style='width: 100%; height: 300px;')
									img(src='https://tactical.vteximg.com.br/arquivos/ids/155524-1000-1000/12110_120_01.jpg?v=636737535706500000', style='position: absolute; border: 0px; display: block; left: -351.027px; top: -351.027px;')
						.zoomPreload(style='visibility: hidden; top: 146px; left: -131.5px; position: absolute;')
		ul.thumbs
			li
				a#botaoZoom.ON(href='javascript:void(0);', title='Zoom', rel='https://tactical.vteximg.com.br/arquivos/ids/155524-292-292/12110_120_01.jpg?v=636737535706500000', zoom='https://tactical.vteximg.com.br/arquivos/ids/155524-1000-1000/12110_120_01.jpg?v=636737535706500000')
					img(src='https://tactical.vteximg.com.br/arquivos/ids/155524-500-500/12110_120_01.jpg?v=636737535706500000', title='12110_120_01', alt='12110_120_01')
			li
				a(href='javascript:void(0);', title='Zoom', rel='https://tactical.vteximg.com.br/arquivos/ids/155524-292-292/12110_120_01.jpg?v=636737535706500000', zoom='https://tactical.vteximg.com.br/arquivos/ids/155524-1000-1000/12110_120_01.jpg?v=636737535706500000')
					img(src='https://tactical.vteximg.com.br/arquivos/ids/155524-500-500/12110_120_01.jpg?v=636737535706500000', title='12110_120_01', alt='12110_120_01')
			li
				a(href='javascript:void(0);', title='Zoom', rel='https://tactical.vteximg.com.br/arquivos/ids/155524-292-292/12110_120_01.jpg?v=636737535706500000', zoom='https://tactical.vteximg.com.br/arquivos/ids/155524-1000-1000/12110_120_01.jpg?v=636737535706500000')
					img(src='https://tactical.vteximg.com.br/arquivos/ids/155524-500-500/12110_120_01.jpg?v=636737535706500000', title='12110_120_01', alt='12110_120_01')
