.apresentacao
  #setaThumbs
  #show
    #include
      #image(productindex='0')
        a.image-zoom(href='https://tactical.vteximg.com.br/arquivos/ids/155836-1000-1000/mandril-1-2-com-chave.jpg?v=636705331057900000', rel='undefined', title='', style='outline-style: none; text-decoration: none;')
          .zoomPad
            img#image-main.sku-rich-image-main(src='https://tactical.vteximg.com.br/arquivos/ids/155836-500-655/mandril-1-2-com-chave.jpg?v=636705331057900000', productindex='0', title='', style='opacity: 1;')
            .zoomPup(style='top: 9.98438px; left: 93.5px; width: 87px; height: 87px; position: absolute; border-width: 1px; display: none;')
            .zoomWindow(style='position: absolute; z-index: 5001; left: 302px; top: 0px; display: none;')
              .zoomWrapper(style='width: 300px;')
                .zoomWrapperTitle(style='width: 100%; position: absolute; display: none;')
                .zoomWrapperImage(style='width: 100%; height: 300px;')
                  img(src='https://tactical.vteximg.com.br/arquivos/ids/155836-1000-1000/mandril-1-2-com-chave.jpg?v=636705331057900000', style='position: absolute; border: 0px; display: block; left: -323.63px; top: -37.6177px;')
            .zoomPreload(style='visibility: hidden; top: 146px; left: -131.5px; position: absolute;')
    ul.thumbs
      li
        a#botaoZoom.ON(href='javascript:void(0);', title='Zoom', rel='https://tactical.vteximg.com.br/arquivos/ids/155836-292-292/mandril-1-2-com-chave.jpg?v=636705331057900000', zoom='https://tactical.vteximg.com.br/arquivos/ids/155836-1000-1000/mandril-1-2-com-chave.jpg?v=636705331057900000')
          img(src='https://tactical.vteximg.com.br/arquivos/ids/155836-94-124/mandril-1-2-com-chave.jpg?v=636705331057900000', title='mandril-1-2-com-chave', alt='mandril-1-2-com-chave')
      li
        a#botaoZoom(href='javascript:void(0);', title='Zoom', rel='https://tactical.vteximg.com.br/arquivos/ids/155837-292-292/mandril-1-2-com-chave-1.jpg?v=636705331069770000', zoom='https://tactical.vteximg.com.br/arquivos/ids/155837-1000-1000/mandril-1-2-com-chave-1.jpg?v=636705331069770000')
          img(src='https://tactical.vteximg.com.br/arquivos/ids/155837-94-124/mandril-1-2-com-chave-1.jpg?v=636705331069770000', title='mandril-1-2-com-chave', alt='mandril-1-2-com-chave')
      li
        a#botaoZoom(href='javascript:void(0);', title='Zoom', rel='https://tactical.vteximg.com.br/arquivos/ids/155838-292-292/mandril-1-2-com-chave-2.jpg?v=636705331086930000', zoom='https://tactical.vteximg.com.br/arquivos/ids/155838-1000-1000/mandril-1-2-com-chave-2.jpg?v=636705331086930000')
          img(src='https://tactical.vteximg.com.br/arquivos/ids/155838-94-124/mandril-1-2-com-chave-2.jpg?v=636705331086930000', title='mandril-1-2-com-chave', alt='mandril-1-2-com-chave')
      li
        a#botaoZoom(href='javascript:void(0);', title='Zoom', rel='https://tactical.vteximg.com.br/arquivos/ids/155839-292-292/mandril-1-2-com-chave-3.jpg?v=636705331101700000', zoom='https://tactical.vteximg.com.br/arquivos/ids/155839-1000-1000/mandril-1-2-com-chave-3.jpg?v=636705331101700000')
          img(src='https://tactical.vteximg.com.br/arquivos/ids/155839-94-124/mandril-1-2-com-chave-3.jpg?v=636705331101700000', title='mandril-1-2-com-chave', alt='mandril-1-2-com-chave')
