footer.footer.bg-gray
	.container
		.footer__inner
			.footer__box
				.footer__title
					| Central de Ajuda
				ul.footer__institucional
					li.footer__institucional-item
						a.footer__institucional-link(href="http://") Sobre Nós
					li.footer__institucional-item
						a.footer__institucional-link(href="http://") Privacidade
					li.footer__institucional-item
						a.footer__institucional-link(href="http://") Pagamentos
					li.footer__institucional-item
						a.footer__institucional-link(href="http://") Troca e Devolução
					li.footer__institucional-item
						a.footer__institucional-link(href="http://") Dúvidas Frequentes
					li.footer__institucional-item
						a.footer__institucional-link(href="http://") Fale Conosco
			.footer__box
				.footer__title
					| Formas de Pagamento
				.footer__pagamento
					img(src="/arquivos/allcards.png")/
				.footer__title
					| Sua Compra Segura
				.footer__secure
					img(src="/arquivos/secure.png")/
			.footer__box.flexbasis-50
				.footer__title
					| Fique ligado nas novidades da Frates
				.footer__newsletter.newsletter
					form.newsletter__form
						input.newsletter__input(type="text", name="nome" placeholder="Digite seu Nome")
						input.newsletter__input(type="text", name="email" placeholder="E-mail")
						button.newsletter__button(type="submit") Cadastrar
				.footer__split-items
					.footer__revenda
						img(src="/arquivos/vendedor.png")/
					.footer__social
						.footer__title Me Segue ;)
						ul.footer__social-list
							li.footer__social-item
								a.footer__social-link
									include ../../svg/instagram.svg
							li.footer__social-item
								a.footer__social-link
									include ../../svg/face.svg
							li.footer__social-item
								a.footer__social-link
									include ../../svg/twitter.svg
							li.footer__social-item
								a.footer__social-link
									include ../../svg/youtube.svg
