footer.footer
  .footer__area.footer__top
    .container.is-fluid
      .footer__contact
        .footer__contact-text
          span.footer__contact-title
            strong OPA!
            | Precisa de ajuda?
          span.footer__contact-subtitle
            | Chama a gente! Não somos robô, queremos te ouvir.
        .footer__contact-bar
          span.contact__phone.contact__box
            i.icon-phone
              include ../../svg/phone.svg
            strong Televendas:
            span (24) 99259 1944
          span.contact__help.contact__box
            i.icon-help
              include ../../svg/help.svg
            strong SAC:
            span (24) 2255 0796
          span.contact__whatsapp.contact__box
            i.icon-whatsapp
              include ../../svg/whatsapp.svg
            strong Whatsapp:
            span (24) 99259 1944
  .footer__area.footer__main
    .container.is-fluid
      .footer__inner
        .footer__box
          h3.footer__title Central de Ajuda
        .footer__box
          h3.footer__title Formas de Pagamento
        .footer__box
          h3.footer__title Sua compra segura
        .footer__box
          h3.footer__title Fique por dentro das nossas novidades
  .footer__area.footer__copyright
    .container.is-fluid
      .footer__inner
        .footer__copyright-text
          | Casa e Garagem - CNPJ: 00.000.000/0000-00 Todos os direitos reservados. 2018
