footer.footer
  .footer__area.footer__top
    .container
      .footer__contact.columns
        .footer__contact-text.column.is-6
          span.footer__contact-title Receba todas as Novidades
          span.footer__contact-subtitle Cadastre-se para receber as notícias da 511
        .footer__newsletter.column.is-6
          .newsletter
            .newsletter__inner
              .field.is-horizontal
                .field-body
                  .field
                    .control
                      input.input(type="email", placeholder="Insira seu E-mail")/
                  button.button.button--newsletter
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="35" height="34" viewBox="0 0 35 34"><defs><path id="9jh9a" d="M1464.67 2398.97l16.97-16.97 16.97 16.97-16.97 16.97z"/><path id="9jh9c" d="M1481.73 2392l1.35 1.29-5.62 5.87 5.62 5.87-1.35 1.29-6.73-7.03.13-.13-.13-.13z"/><clipPath id="9jh9b"><use fill="#fff" xlink:href="#9jh9a"/></clipPath></defs><g><g transform="translate(-1464 -2382)"><use fill="#fff" fill-opacity="0" stroke="#e75300" stroke-miterlimit="50" stroke-width="4" clip-path="url(&quot;#9jh9b&quot;)" xlink:href="#9jh9a"/></g><g transform="translate(-1464 -2382)"><use fill="#e75300" xlink:href="#9jh9c"/></g></g></svg> 
  .footer__area.footer__main
    .container
      .footer__main__inner.columns
        .footer__main__box.column.is-3
          h3.footer__main__title Atendimento
          .footer__main__menu
            ul.footer__main__menu__list
              li.footer__main__menu__list__item
                a.footer__main__menu__list__item__link(href="/institucional") Institucional
              li.footer__main__menu__list__item
                a.footer__main__menu__list__item__link(href="/institucional/privacidade") Privacidade 
              li.footer__main__menu__list__item
                a.footer__main__menu__list__item__link(href="/institucional/trocas-devolucao") Trocas e Devolução
              li.footer__main__menu__list__item
                a.footer__main__menu__list__item__link(href="/institucional/duvidas-frequentes") Dúvidas Frequentes
              li.footer__main__menu__list__item
                a.footer__main__menu__list__item__link(href="/institucional/fale-conosco") Fale Conosco
        .footer__main__box.column.is-3
          h3.footer__main__title Sobre a 5.1.1
          .footer__main__menu
            ul.footer__main__menu__list
              li.footer__main__menu__list__item
                a.footer__main__menu__list__item__link(href="/institucional/sobre-a-marca") Sobre a Marca
              li.footer__main__menu__list__item
                a.footer__main__menu__list__item__link(href="/institucional/encontre-uma-loja") Encontre uma Loja 
              li.footer__main__menu__list__item
                a.footer__main__menu__list__item__link(href="/institucional/politica-de-privacidade") Política de Privacidade
              li.footer__main__menu__list__item
                a.footer__main__menu__list__item__link(href="/institucional/politica-de-pagamento") Política de Pagamento
              li.footer__main__menu__list__item
                a.footer__main__menu__list__item__link(href="/institucional/trabalhe-conosco") Trabalhe Conosco
              li.footer__main__menu__list__item
                a.footer__main__menu__list__item__link(href="/institucional/tabela-de-medidas") Tabela de Medidas
        .footer__main__box.column.is-3
          h3.footer__main__title Siga-Nos
          .footer__main__menu
            ul.footer__main__menu__list--social
              li.footer__main__menu__list--social__item
                a.footer__main__menu__list--social__item__link(target="_blank" href="#") <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30" viewBox="0 0 30 30"><defs><path id="tmyja" d="M988.6 2628.91c0 .38-.13.7-.39.96s-.58.39-.96.39h-3.4c-.37 0-.7-.13-.95-.4a1.3 1.3 0 0 1-.4-.95v-3.22c0-.37.14-.68.4-.95.26-.27.58-.4.96-.4h3.4c.37 0 .7.13.95.4.26.27.4.58.4.95zm0 17.43c0 .34-.12.62-.35.85-.23.23-.51.34-.84.34h-20.88c-.34 0-.62-.11-.85-.34a1.15 1.15 0 0 1-.34-.85v-12.64h2.75a8.4 8.4 0 0 0-.39 2.55c0 2.5.91 4.63 2.74 6.4a9.13 9.13 0 0 0 6.58 2.64 9.4 9.4 0 0 0 8.09-4.5 8.64 8.64 0 0 0 .86-7.1h2.63zm-15.83-14.53a5.9 5.9 0 0 1 4.25-1.7c1.67 0 3.09.56 4.27 1.7a5.54 5.54 0 0 1 1.76 4.13c0 1.62-.58 3-1.76 4.13a5.9 5.9 0 0 1-4.27 1.71 5.9 5.9 0 0 1-4.25-1.7 5.54 5.54 0 0 1-1.77-4.14c0-1.61.6-2.99 1.77-4.13zm18.1-9.68a3.7 3.7 0 0 0-2.72-1.13h-22.3a3.7 3.7 0 0 0-2.72 1.13 3.7 3.7 0 0 0-1.13 2.72v22.3a3.7 3.7 0 0 0 1.13 2.72 3.7 3.7 0 0 0 2.72 1.13h22.3a3.7 3.7 0 0 0 2.72-1.13 3.7 3.7 0 0 0 1.13-2.72v-22.3a3.7 3.7 0 0 0-1.13-2.72z"/></defs><g><g transform="translate(-962 -2621)"><use fill="#6a6157" xlink:href="#tmyja"/></g></g></svg>
              li.footer__main__menu__list--social__item
                a.footer__main__menu__list--social__item__link(target="_blank" href="#") <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="25" viewBox="0 0 30 25"><defs><path id="z0zja" d="M1042 2625.97a13.41 13.41 0 0 1-3.08 3.26c.02.27.02.55.02.82 0 8.34-6.2 17.95-17.5 17.95-3.48 0-6.72-1.04-9.44-2.83a12.4 12.4 0 0 0 9.12-2.62 6.18 6.18 0 0 1-5.75-4.37c.38.05.76.1 1.16.1.55 0 1.1-.08 1.62-.22a6.27 6.27 0 0 1-4.93-6.2v-.07c.82.47 1.77.76 2.78.8a6.35 6.35 0 0 1-2.74-5.25c0-1.18.3-2.25.83-3.19a17.33 17.33 0 0 0 12.68 6.6 7.3 7.3 0 0 1-.15-1.44c0-3.48 2.74-6.31 6.15-6.31 1.77 0 3.37.76 4.49 2 1.39-.28 2.72-.8 3.9-1.53a6.26 6.26 0 0 1-2.7 3.48c1.24-.14 2.44-.5 3.54-.98z"/></defs><g><g transform="translate(-1012 -2623)"><use fill="#6a6157" xlink:href="#z0zja"/></g></g></svg>
              li.footer__main__menu__list--social__item
                a.footer__main__menu__list--social__item__link(target="_blank" href="#") <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30" viewBox="0 0 30 30"><defs><path id="53tda" d="M1090.34 2621c.92 0 1.66.74 1.66 1.66v26.68c0 .92-.74 1.66-1.66 1.66h-7.64v-11.62h3.89l.59-4.53h-4.48v-2.9c0-1.3.35-2.18 2.25-2.18l2.38-.02v-4.04c-.4-.06-1.83-.18-3.47-.18-3.46 0-5.84 2.11-5.84 5.98v3.34h-3.91v4.53h3.9V2651h-14.35c-.92 0-1.66-.74-1.66-1.66v-26.68c0-.92.74-1.66 1.66-1.66z"/></defs><g><g transform="translate(-1062 -2621)"><use fill="#6a6157" xlink:href="#53tda"/></g></g></svg>
              li.footer__main__menu__list--social__item
                a.footer__main__menu__list--social__item__link(target="_blank" href="#") <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="22" viewBox="0 0 30 22"><defs><path id="t91ma" d="M1142 2635.71c0 2.4 0 4.94-.54 7.27a3.8 3.8 0 0 1-3.23 3.03c-3.71.42-7.48.42-11.23.42s-7.52 0-11.23-.42a3.84 3.84 0 0 1-3.25-3.03c-.52-2.33-.52-4.87-.52-7.27 0-2.39 0-4.93.54-7.26a3.82 3.82 0 0 1 3.23-3.03c3.71-.42 7.48-.42 11.23-.42s7.52 0 11.23.42a3.84 3.84 0 0 1 3.25 3.03c.52 2.33.52 4.87.52 7.26zm-8.56 0c0-.37-.19-.72-.5-.9l-8.58-5.36a1.06 1.06 0 0 0-1.1-.03c-.33.18-.55.55-.55.94v10.7a1.08 1.08 0 0 0 1.08 1.07c.2 0 .4-.05.57-.16l8.58-5.36c.31-.18.5-.53.5-.9z"/></defs><g><g transform="translate(-1112 -2625)"><use fill="#6a6157" xlink:href="#t91ma"/></g></g></svg>
            ul.footer__main__menu__list--security
              li.footer__main__menu__list--security__item
                img(src="/arquivos/logo-clearsale.png", alt="")/
              li.footer__main__menu__list--security__item
                img(src="/arquivos/logo-rapidssl.png", alt="")/
        .footer__main__box.column.is-3
          .footer__main__menu
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="133" height="70" viewBox="0 0 133 70"><defs><path id="p5ina" d="M1238 2654h126.97v-18.45H1238z"/><path id="p5inb" d="M1355.7 2646.77l-2.75-8.11h2.4l1.54 5.49 1.64-5.49h2.2l-2.78 8.11v3.58h-2.24zm-6.62 1.73l.54-.56v-6.86l-.54-.56h-2v7.98zm-4.26-9.84h5.57l1.47 1.54v8.6l-1.47 1.55h-5.57zm-6.39 7.16h1.98l-.99-5.86zm-.6-7.16h3.3l2.26 11.69h-2.22l-.45-2.68h-2.6l-.46 2.68h-2.1zm-9.35 0h5.93v1.95h-3.67v2.83h3.33v1.95h-3.33v3.01h3.7v1.95h-5.96zm-4.6 5.24l.52-.54v-2.43l-.5-.52h-2.15v3.5zm-4.4-5.24h5.73l1.43 1.5v3.92l-1.22 1.27 1.4 5h-2.3l-1.24-4.7h-1.53v4.7h-2.26zm-11.44 0h5.94v1.95h-3.67v2.83h3.33v1.95h-3.33v3.01h3.7v1.95h-5.97zm-4.73 4.81l.54-.56v-1.96l-.49-.51h-2.08v3.03zm.07 5.08l.47-.49v-2.25l-.54-.56h-2.03v3.3zm-4.34-9.89h5.65l1.42 1.47v3l-1.17 1.22 1.17 1.22v3.3l-1.42 1.48h-5.65zm-12.57 10.2v-2h2.26v1.15l.47.5h1.56l.48-.5v-2.17l-.36-.39h-3.12l-1.24-1.27v-4.01l1.45-1.51h4.06l1.43 1.5v1.99h-2.26V2641l-.47-.5h-1.48l-.47.5v2.08l.36.38h3.12l1.22 1.28v4.1l-1.45 1.5h-4.13zm-6.08-2.09l-2.76-8.11h2.4l1.55 5.49 1.64-5.49h2.2l-2.78 8.11v3.58h-2.25zm-7.72-.95h1.98l-.99-5.86zm-.6-7.16h3.3l2.26 11.69h-2.22l-.46-2.68h-2.6l-.45 2.68h-2.1zm-14.26 0h2.13l.96 9.37 1.28-9.37h2.93l1.3 9.37.96-9.37h1.87l-1.56 11.69h-2.8l-1.33-9.42-1.32 9.42h-2.84zm-6.08 0h2.26v9.7h3.17v1.99h-5.43zm-6.39 7.16h1.98l-.99-5.86zm-.6-7.16h3.32l2.26 11.69h-2.23l-.46-2.68h-2.6l-.45 2.68h-2.1z"/><path id="p5inc" d="M1360.04 2649.33c0-.5.39-.9.87-.9.47 0 .86.4.86.9s-.39.9-.86.9a.88.88 0 0 1-.87-.9zm.1 0c0 .45.34.8.76.8s.75-.35.75-.8c0-.43-.33-.79-.75-.79a.78.78 0 0 0-.75.8zm1 .48l-.17-.3c-.03-.06-.06-.11-.13-.11h-.11v.41h-.12v-.96h.33c.18 0 .3.08.3.28 0 .13-.08.26-.21.26l.04.05.22.37zm-.41-.84v.32h.2c.12 0 .2-.03.2-.16s-.08-.16-.2-.16z"/><path id="p5ind" d="M1274.01 2614.87h-7.85v7.97h.01l-.02.02h7.88v-8z"/><path id="p5ine" d="M1300.31 2584v7.53h5.7v-.01 23.81H1299.93v7.52l.03-.01h19.06l.04.02h.01v-7.53h-6.06v-31.3l.02-.03h-12.7z"/><path id="p5inf" d="M1277.8 2584h-.01v7.53h5.7v-.01 23.81h-6.08v7.52l.03-.01h19.06l.03.02h.02v-7.53h-6.06v-31.3l.02-.03h-12.7z"/><path id="p5ing" d="M1239.24 2606.45s3.92-1.2 7.88-1.33c1.65-.05 3.3.08 4.68.56.67.23 1.28.55 1.8.97.54.45.98 1.01 1.28 1.72.23.59.37 1.27.38 2.06v.11c0 .84-.1 1.56-.31 2.18a4.35 4.35 0 0 1-2.8 2.82 8.8 8.8 0 0 1-2.8.49c-1.87.05-3.93-.3-5.78-.77-3.08-.77-5.55-1.85-5.55-1.85l-.02.5.02 8s1.95.68 4.8 1.27a38.93 38.93 0 0 0 7.62.82c2.09 0 4-.39 5.7-1.08 1.4-.57 2.64-1.34 3.7-2.28a11.93 11.93 0 0 0 4.06-9.1c0-.43-.02-.84-.05-1.24-.13-1.9-.55-3.6-1.24-5.06a10.79 10.79 0 0 0-7.44-6 15.27 15.27 0 0 0-4.39-.4l-.37.03c-3.55.25-3.98.25-4.02.24v-6.58h15.92v-7.39h-.02l-.03.02h-23v21.27z"/><path id="p5inh" d="M1362.65 2615.93c0 2.93-2.34 5.3-5.23 5.3h-22.39a5.26 5.26 0 0 1-5.22-5.3h-.01v-22.72h.01c0-2.92 2.34-5.3 5.22-5.3v-.01h22.4v.01a5.26 5.26 0 0 1 5.22 5.3v22.72zm-35.57 8.07h38.29v-38.86h-38.29z"/><path id="p5ini" d="M1356.67 2611.8a3.34 3.34 0 0 1-3.32 3.36h-14.23a3.34 3.34 0 0 1-3.31-3.37h-.03v-14.42h.03a3.34 3.34 0 0 1 3.31-3.37v-.02h14.23v.02c1.83 0 3.32 1.5 3.32 3.37v14.42zm-22.83 5.34h24.77V2592h-24.77z"/><path id="p5inj" d="M1368.95 2585.51v-.52h.38c.24 0 .31.08.31.23 0 .16-.07.29-.36.3zm.27.32c.1 0 .21 0 .29.08.09.1.09.26.11.43l.07.37h.4c-.07-.19-.1-.4-.12-.6-.03-.21-.06-.34-.34-.39.27-.06.4-.25.4-.48 0-.46-.37-.56-.74-.56h-.65v2.03h.32v-.88zm1.48-.12a1.4 1.4 0 0 1-1.39 1.42 1.4 1.4 0 0 1-1.4-1.42c0-.77.63-1.4 1.4-1.4.77 0 1.4.63 1.4 1.4zm-3.08 0c0 .95.75 1.72 1.7 1.72a1.7 1.7 0 0 0 1.68-1.72 1.7 1.7 0 0 0-1.69-1.71c-.94 0-1.69.77-1.69 1.71z"/><path id="p5ink" d="M1352.99 2603.1h-5.3v-5.39h-1.78v5.38h-5.31v1.8h5.3v5.4h1.78v-5.4h5.3z"/></defs><g><g transform="translate(-1238 -2584)"><g><g><use fill="#e75300" xlink:href="#p5ina"/></g><g><use fill="#211e14" xlink:href="#p5inb"/></g><g><use xlink:href="#p5inc"/></g></g><g><g><use fill="#fff" xlink:href="#p5ind"/></g><g><use fill="#fff" xlink:href="#p5ine"/></g><g><use fill="#fff" xlink:href="#p5inf"/></g><g><use fill="#fff" xlink:href="#p5ing"/></g><g><use fill="#e75300" xlink:href="#p5inh"/></g><g><use fill="#e75300" xlink:href="#p5ini"/></g><g><use fill="#e75300" xlink:href="#p5inj"/></g><g><use fill="#e75300" xlink:href="#p5ink"/></g></g></g></g></svg>
            p.footer__main__menu__txt Built on a foundation of durability, quality and value, 5.11 Tactical leads the industry in delivering functionally innovative gear, head to toe.
            copy.footer__main__menu__copy 2018 5.11, Inc. All rights reserved.
  .footer__area.footer__copyright
    .container
      .footer__inner
        .footer__develop
          a.logo__ecore(href="", target="_blank")
            img(src="/arquivos/ecore-logo.png")/
          a.logo__vtex(href="", target="_blank")
            img(src="/arquivos/vtex-logo.png")/  
