footer.footer.bg-gray
	.footer__top.bg-gray
		.container
			.footer__inner
				.footer__box.border-bottom.padding-20
					.footer__title
						| Central de Ajuda
					ul.footer__institucional
						li.footer__institucional-item
							a.footer__institucional-link(href="/institucional/sobre-nos") Sobre Nós
						li.footer__institucional-item
							a.footer__institucional-link(href="/institucional/privacidade") Privacidade
						li.footer__institucional-item
							a.footer__institucional-link(href="/institucional/pagamentos") Pagamentos
						li.footer__institucional-item
							a.footer__institucional-link(href="/institucional/troca-e-devolucao") Troca e Devolução
						li.footer__institucional-item
							a.footer__institucional-link(href="/institucional/duvidas-frequentes") Dúvidas Frequentes
						li.footer__institucional-item
							a.footer__institucional-link(href="/institucional/fale-conosco") Fale Conosco
				.footer__box.text-center
					.footer__pagamento.border-bottom.padding-20
						.footer__title
							| Formas de Pagamento
						.footer__pagamento-img
							img(src="/arquivos/allcards.png")/
					.footer__secure.border-bottom.padding-20
						.footer__title
							| Sua Compra Segura
						.footer__secure-img
							img(src="/arquivos/secure.png")/
				.footer__box.flexbasis-50
					.footer__newsletter.newsletter.border-bottom.padding-20
						.footer__title
							| Fique ligado nas novidades da Frates
						form.newsletter__form
							input.newsletter__input(type="text", name="nome" placeholder="Digite seu Nome")/
							input.newsletter__input(type="text", name="email" placeholder="E-mail")/
							button.newsletter__button(type="submit") Cadastrar
					.footer__split-items
						.footer__revenda.border-bottom.padding-20
							a.footer__revenda-link
								img(src="/arquivos/vendedor.png")/
						.footer__social.padding-20
							.footer__title Me Segue ;)
							ul.footer__social-list
								li.footer__social-item
									a.footer__social-link(href="www.instagram.com/usefrates" target="_blank")
										include ../../svg/insta-svg.svg
								li.footer__social-item
									a.footer__social-link(href="www.facebook.com/usefrates" target="_blank")
										include ../../svg/face.svg
								li.footer__social-item
									a.footer__social-link(href="www.twitter.com/usefrates/" target="_blank")
										include ../../svg/twitter.svg
								//- li.footer__social-item
								//- 	a.footer__social-link(href="/usefrates")
								//- 		include ../../svg/youtube.svg
			.footer__bottom
	.footer__bottom.bg-yellow
		.container
			.footer__inner.less-pd
				.footer__logo-agape
					a(href="http://www.loja.agapemoda.com.br")
					include ../../svg/agape.svg
				.footer__copyright.border-bottom.border-bottom--white
					p.footer__copyright-text
						| Ágape Marka de Confecções Eireli - CNPJ: 18.160.385/0001-10 © Todos os direitos reservados. 2016
				.footer__partners
					a(href="https://www.vtex.com/pt-br")
						include ../../svg/vtex.svg
					a(href="www.ecorecomunicacao.com.br")
						include ../../svg/ecore.svg
