footer.footer
  .footer__area.footer__top
    .container.is-fluid
      .footer__contact
        .footer__contact-text
          span.footer__contact-title
            strong OPA!
            | Precisa de ajuda?
          span.footer__contact-subtitle
            | Chama a gente! Não somos robô, queremos te ouvir.
        .footer__contact-bar
          span.contact__phone.contact__box
            i.icon-phone
              include ../../svg/phone.svg
            strong Televendas:
            span (24) 99259 1944
          span.contact__help.contact__box
            i.icon-help
              include ../../svg/help.svg
            strong SAC:
            span (24) 2255 0796
          span.contact__whatsapp.contact__box
            i.icon-whatsapp
              include ../../svg/whatsapp.svg
            strong Whatsapp:
            span (24) 99259 1944
  .footer__area.footer__main
    .container.is-fluid
      .footer__inner
        .footer__box
          h3.footer__title Central de Ajuda
          .footer__menu
            ul.menu-list
              li 
                a(href="/institucional") Institucional
              li 
                a(href="/privacidade") Privacidade 
              li 
                a(href="/trocas-devolucao") Trocas e Devolução
              li 
                a(href="/duvidas-frequentes") Dúvidas Frequentes
              li 
                a(href="/fale-conosco") Fale Conosco       
        .footer__box
          h3.footer__title Formas de Pagamento
          .footer__media
            img(src="/arquivos/payments.png")/
        .footer__box
          h3.footer__title Sua compra segura
          .footer__media
            img(src="/arquivos/security.png")/
        .footer__box
          h3.footer__title Fique por dentro das nossas novidades
          .footer__newsletter
            .newsletter
              .newsletter__inner
                .field.is-horizontal
                  .field-body
                    .field
                      .control
                        input.input(type="text", placeholder="Nome")/
                    .field
                      .control
                        input.input(type="email", placeholder="E-mail")/
                    button.button.button--newsletter Cadastrar 
            .social-links
              span.social-links__text Me segue ;)

              ul.social-links__list
                li.social-links__item
                  a(href="")
                    include ../../svg/ic_instagram.svg
                li.social-links__item
                  a(href="")
                    include ../../svg/ic_facebook.svg
                li.social-links__item
                  a(href="")
                    include ../../svg/ic_youtube.svg                       
  .footer__area.footer__copyright
    .container.is-fluid
      .footer__inner
        .footer__copyright-text
          | Casa e Garagem - CNPJ: 00.000.000/0000-00 Todos os direitos reservados. 2018
        .footer__develop
          a.logo__ecore(href="", target="_blank")
            img(src="/arquivos/ecore-logo.png")/
          a.logo__vtex(href="", target="_blank")
            img(src="/arquivos/vtex-logo.png")/  
