header.header
  .header__top
    .header__inner
      a.b2b__link(href="/") 5.11 para lojistas
      ul.menu.menu--institutional
        li.menu__item Atendimento: (11) 0000-0000
        li.menu__item
          a.menu__link(href="") Encontre uma loja
        li.menu__item
          a.menu__link(href="/account") Acessar sua conta
        li.menu__item
          a.menu__link(href="/account/orders") Meus Pedidos
  .header__main
    .header__inner
      button.btn.btn--menu
        i.icon-menu
        | menu
      .header__logo
        .logo
          a(href="/")
            include ../../svg/logo.svg
      .header__menu
        nav.navbar.navbar--main
          include ../subtemplates/menu.pug
          include ../subtemplates/menu-mobile.pug
      .header__search-form
        button.btn.btn--search
          i.icon-search
        .js-search-form
      .header__minicart
        .js-minicart
