header.header
  .header__area.header__info.container
    .header__inner.row
      .header__contact-bar
        span.contact__phone.contact__box
          i.icon-phone
            include ../../svg/phone.svg
          strong Compre pelo Televendas:
          | (24) 99259 1944
        span.contact__help.contact__box
          i.icon-help
            include ../../svg/help.svg
          strong Dúvida? Queremos ouvir você:
          | (24) 2255 0796
        span.contact__whatsapp.contact__box
          i.icon-whatsapp
            include ../../svg/whatsapp.svg
          strong Atendimento via Whatsapp:
          | (24) 99259 1944
  .header__area.header__main.container
    .header__inner
      .columns
        .header__logo.column.is-2
          .logo
            h1.logo__brand
              a.logo__link(href="/")
                img.logo__image(src="/arquivos/logo.png", alt="")/
        .header__search-form.column.is-6
          .search-form#header-form
            .field.has-addons
              .control.is-expanded
                input.input(type='text', placeholder='Digite o nome do produto...')/
              .control
                a.button
                  span.icon
                    include ../../svg/search.svg
        .header__action-user.column

          a.button.button--buy-list
            span.icon
              include ../../svg/mark.svg
            span Lista de Compras
          a.button.button--account
            span.icon
              include ../../svg/user.svg
            span Minha Conta
          .minicart
  .header__area.header__menu.container
    nav.navbar(role='navigation', aria-label='dropdown navigation')
      .navbar-item.has-dropdown.is-hoverable
        a.navbar-link
          | Ferramentas Elétricas
      .navbar-item.has-dropdown.is-hoverable
        a.navbar-link
          | Ferramentas Manuais
      .navbar-item.has-dropdown.is-hoverable
        a.navbar-link
          | Iluminação
      .navbar-item.has-dropdown.is-hoverable
        a.navbar-link
          | Material Elétrico
      .navbar-item.has-dropdown.is-hoverable
        a.navbar-link
          | Construção Civil
      .navbar-item.has-dropdown.is-hoverable
        a.navbar-link
          | Bombas
      .navbar-item.has-dropdown.is-hoverable
        a.navbar-link
          | Ferramentas e Segurança
      .navbar-item.has-dropdown.is-hoverable
        a.navbar-link
          | Casa e Jardim
      .navbar-item.has-dropdown.is-hoverable
        a.navbar-link
          | Automotivo
      .navbar-item.has-dropdown.is-hoverable
        a.navbar-link
          | Hidráulica
    #top-menu
      +vtex-controller('')
        include ../vtexParts/searchNavigator

