header.header
	.header_top.bg-blue
		.container
			.tip-bar
				a.tipbar-link(href="http://")
					include ../../svg/desc-tipbar.svg
				a.tipbar-link(href="http://")
				a.tipbar-link(href="http://")
				a.tipbar-link(href="http://")

