button.btn.btn--close
    i.icon-close
#menu-mobile.menu__wrap.menu--mobile
    ul.menu.menu--level(data-menu="main")
        li.menu__item.menu__item--highlight
            a.menu__link(href="/account") Acessar sua conta
        li.menu__item.menu__item--dropdown
            a.menu__link(href="/",  data-submenu="submenu-1") Masculino
        li.menu__item.menu__item--dropdown
            a.menu__link(href="/",  data-submenu="submenu-2") Feminino
        li.menu__item
            a.menu__link(href="/") Calçados
        li.menu__item
            a.menu__link(href="/") Mochilas
        li.menu__item
            a.menu__link(href="/") Acessórios
        li.menu__item
            a.menu__link(href="/") Uso Profissional
        li.menu__item.menu__item--highlight
            a.menu__link(href="/account") 5.11 para lojistas
        li.menu__item.menu__item--highlight
            a.menu__link(href="/account") Encontre uma loja
    ul.menu.menu--level.submenu.submenu-1
        li.menu__item.menu__item--dropup
            a.menu__link(href='#', data-menu='menu--main') Masculino
        li.menu__item
            a.menu__link(href='#') Stalk Vegetables
        li.menu__item
            a.menu__link(href='#') Roots & Seeds
        li.menu__item
            a.menu__link(href='#') Cabbages
        li.menu__item
            a.menu__link(href='#') Salad Greens
        li.menu__item
            a.menu__link(href='#') Mushrooms
        li.menu__item.menu__item--dropdown
            a.menu__link(data-submenu='submenu-1-1', href='#') Sale %
    ul.menu.menu--level.submenu.submenu-1-1
        li.menu__item.menu__item--dropup
            a.menu__link(href='#', data-menu='submenu-1') Sale
        li.menu__item
            a.menu__link(href='#') Stalk Vegetables
        li.menu__item
            a.menu__link(href='#') Roots & Seeds
        li.menu__item
            a.menu__link(href='#') Cabbages
        li.menu__item
            a.menu__link(href='#') Salad Greens
        li.menu__item
            a.menu__link(href='#') Mushrooms
        li.menu__item
            a.menu__link(href='#') Sale %        
