ul.menu.menu--desktop
  li.menu__item.menu__item--dropdown
    a.menu__link(href="/") Masculino
    .menu__submenu
      .menu__inner
        .menu__column
          ul.menu
            li.menu__item
              a.menu__link(href="") Lançamentos
            li.menu__item
              a.menu__link(href="") Fitness
            li.menu__item
              a.menu__link(href="") Lifestyle
            li.menu__item
              a.menu__link(href="") Exterior
            li.menu__item
              a.menu__link(href="") Campo
            li.menu__item
              a.menu__link(href="") Profissional
            li.menu__item
              a.menu__link(href="") Sale
        .menu__column
  li.menu__item.menu__item--dropdown
    a.menu__link(href="/") Feminino
    .menu__submenu
  li.menu__item.menu__item--dropdown
    a.menu__link(href="/") Calçados
    .menu__submenu
  li.menu__item.menu__item--dropdown
    a.menu__link(href="/") Mochilas
    .menu__submenu
  li.menu__item.menu__item--dropdown
    a.menu__link(href="/") Acessórios
    .menu__submenu
  li.menu__item.menu__item--dropdown
    a.menu__link(href="/") Uso Profissional
    .menu__submenu

