ul.menu.menu--desktop
  li.menu__item.menu__item--dropdown
    a.menu__link(href="/masculino") Masculino
    .menu__submenu
      .menu__inner
        .menu__column
          ul.menu
            li.menu__item
              a.menu__link(href="/lancamentos") Lançamentos
            li.menu__item
              a.menu__link(href="/fitness") Fitness
            li.menu__item
              a.menu__link(href="/lifestyle") Lifestyle
            li.menu__item
              a.menu__link(href="/exterior") Exterior
            li.menu__item
              a.menu__link(href="/campo") Campo
            li.menu__item
              a.menu__link(href="/profissional") Profissional
            li.menu__item
              a.menu__link(href="/sale") Sale
        .menu__column
  li.menu__item.menu__item--dropdown
    a.menu__link(href="/feminino") Feminino
  li.menu__item.menu__item--dropdown
    a.menu__link(href="/calcados") Calçados
  li.menu__item.menu__item--dropdown
    a.menu__link(href="/mochilas") Mochilas
  li.menu__item.menu__item--dropdown
    a.menu__link(href="/acessorios") Acessórios
  li.menu__item.menu__item--dropdown
    a.menu__link(href="/uso-profissional") Uso Profissional

