ul.menu.menu--desktop
	li.menu__item.menu__item--dropdown
		a.menu__link(href="/masculino") Masculino
		.menu__submenu
			.menu__inner
				.menu__column
					ul.menu
						li.menu__item
							a.menu__link(href="/masculino/lancamentos") Lançamentos
						li.menu__item
							a.menu__link(href="/masculino/fitness") Fitness
						li.menu__item
							a.menu__link(href="/masculino/lifestyle") Lifestyle
						li.menu__item
							a.menu__link(href="/masculino/exterior") Exterior
						li.menu__item
							a.menu__link(href="/masculino/campo") Campo
						li.menu__item
							a.menu__link(href="/masculino/profissional") Profissional
						li.menu__item
							a.menu__link(href="/masculino/sale") Sale
				.menu__column.menu__column--box
					.menu__box
						a.menu__title(href="/masculino/calcas") Calças
					.menu__box
						a.menu__title(href="/masculino/agasalhos") Agasalhos
						a.menu__link(href="/masculino/jaquetas-parkas") Jaquetas & Parkas
						a.menu__link(href="/masculino/blusoes-e-moletons") Blusões & Moletons
					.menu__box
						a.menu__title(href="/masculino/bolsas-e-mochilas") Bolsas & Mochilas
						a.menu__link(href="/masculino/bolsas-de-mao") Bolsas de mão
						a.menu__link(href="/masculino/mochilas") Mochilas
					.menu__box
						a.menu__title(href="/masculino/tops") Tops
						a.menu__link(href="/masculino/camisas-de-botao") Camisas de botão
						a.menu__link(href="/masculino/polos") Polos
						a.menu__link(href="/masculino/camisetas-e-regatas") Camisetas e regatas
					.menu__box
						a.menu__title(href="/masculino/shorts") Shorts
					.menu__box
						a.menu__title(href="/masculino/calcados") Calçados
				.menu__column
					a.menu__link.menu--highlight(href="/masculino") Ver Tudo
	li.menu__item.menu__item--dropdown
		a.menu__link(href="/feminino") Feminino
		.menu__submenu
			.menu__inner
				.menu__column
					ul.menu
						li.menu__item
							a.menu__link(href="/feminino/lancamentos") Lançamentos
						li.menu__item
							a.menu__link(href="/feminino/fitness") Fitness
						li.menu__item
							a.menu__link(href="/feminino/lifestyle") Lifestyle
						li.menu__item
							a.menu__link(href="/feminino/exterior") Exterior
						li.menu__item
							a.menu__link(href="/feminino/campo") Campo
						li.menu__item
							a.menu__link(href="/feminino/profissional") Profissional
						li.menu__item
							a.menu__link(href="/feminino/sale") Sale
				.menu__column.menu__column--box
					.menu__box
						a.menu__title(href="/feminino/calcas") Calças
					.menu__box
						a.menu__title(href="/feminino/agasalhos") Agasalhos
						a.menu__link(href="/feminino/jaquetas-parkas") Jaquetas & Parkas
						a.menu__link(href="/feminino/blusoes-e-moletons") Blusões & Moletons
					.menu__box
						a.menu__title(href="/feminino/bolsas-e-mochilas") Bolsas & Mochilas
						a.menu__link(href="/feminino/bolsas-de-mao") Bolsas de mão
						a.menu__link(href="/feminino/mochilas") Mochilas
					.menu__box
						a.menu__title(href="/feminino/tops") Tops
						a.menu__link(href="/feminino/camisas-de-botao") Camisas de botão
						a.menu__link(href="/feminino/polos") Polos
						a.menu__link(href="/feminino/camisetas-e-regatas") Camisetas e regatas
					.menu__box
						a.menu__title(href="/feminino/shorts") Shorts
					.menu__box
						a.menu__title(href="/feminino/calcados") Calçados
				.menu__column
					a.menu__link.menu--highlight(href="/feminino") Ver Tudo
	li.menu__item.menu__item--dropdown
		a.menu__link(href="/calcados") Calçados
	li.menu__item.menu__item--dropdown
		a.menu__link(href="/mochilas") Mochilas
	li.menu__item.menu__item--dropdown
		a.menu__link(href="/acessorios") Acessórios
	li.menu__item.menu__item--dropdown
		a.menu__link(href="/uso-profissional") Uso Profissional

