$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "/arquivos" !default;

$icon-stars: "\e912";
$icon-finger: "\e913";
$icon-medal: "\e914";
$icon-ray: "\e915";
$icon-arrow-left: "\e900";
$icon-arrow-right: "\e901";
$icon-cart: "\e902";
$icon-coupon: "\e903";
$icon-help: "\e904";
$icon-atacado: "\e905";
$icon-facebook: "\e906";
$icon-instagram: "\e907";
$icon-youtube: "\e908";
$icon-logo-cart: "\e909";
$icon-mark: "\e90a";
$icon-menu: "\e90b";
$icon-phone: "\e90c";
$icon-refresh: "\e90d";
$icon-search: "\e90e";
$icon-truck: "\e90f";
$icon-user: "\e910";
$icon-whatsapp: "\e911";

@font-face {
    font-family: '#{$icomoon-font-family}';
    src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot.css?mitrlm');
    src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot.css?mitrlm#iefix') format('embedded-opentype'),
      url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf.css?mitrlm') format('truetype'),
      url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff.css?mitrlm') format('woff'),
      url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg.css?mitrlm##{$icomoon-font-family}') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: '#{$icomoon-font-family}' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-stars {
    &:before {
      content: $icon-stars; 
    }
  }
  .icon-finger {
    &:before {
      content: $icon-finger; 
    }
  }
  .icon-medal {
    &:before {
      content: $icon-medal; 
    }
  }
  .icon-ray {
    &:before {
      content: $icon-ray; 
    }
  }
  .icon-arrow-left {
    &:before {
      content: $icon-arrow-left; 
    }
  }
  .icon-arrow-right {
    &:before {
      content: $icon-arrow-right; 
    }
  }
  .icon-cart {
    &:before {
      content: $icon-cart;     
      color: #616161;
    }
  }
  .icon-coupon {
    &:before {
      content: $icon-coupon; 
    }
  }
  .icon-help {
    &:before {
      content: $icon-help; 
    }
  }
  .icon-atacado {
    &:before {
      content: $icon-atacado; 
    }
  }
  .icon-facebook {
    &:before {
      content: $icon-facebook; 
    }
  }
  .icon-instagram {
    &:before {
      content: $icon-instagram; 
    }
  }
  .icon-youtube {
    &:before {
      content: $icon-youtube; 
    }
  }
  .icon-logo-cart {
    &:before {
      content: $icon-logo-cart; 
    }
  }
  .icon-mark {
    &:before {
      content: $icon-mark; 
    }
  }
  .icon-menu {
    &:before {
      content: $icon-menu; 
    }
  }
  .icon-phone {
    &:before {
      content: $icon-phone; 
    }
  }
  .icon-refresh {
    &:before {
      content: $icon-refresh; 
    }
  }
  .icon-search {
    &:before {
      content: $icon-search; 
    }
  }
  .icon-truck {
    &:before {
      content: $icon-truck; 
    }
  }
  .icon-user {
    &:before {
      content: $icon-user; 
    }
  }
  .icon-whatsapp {
    &:before {
      content: $icon-whatsapp; 
    }
  }
