$c-gray-light: #f5f5f5;
$c-gray: #e8e8e8;
$c-gray-dark: #616161;
$c-yellow: #e5b226;
$c-blue: #004774;
$c-white: #fff;
$c-black: #000;

$c-primary: $c-blue;
$c-secondary: $c-yellow;

$f-base: 'PT Sans Narrow', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$f-secondary: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$family-sans-serif: $f-base;
