
    .section__account {
      &__tlt {
        font-size: 50px;
        color: #211e14;
        font-weight: 700;
        text-align: center;
        margin-bottom: 15px;
        text-transform: uppercase;
      }

      &__box {
        margin-bottom: 40px;

        &__tlt {
          font-size: 20px;
          color: #e75300;
          font-weight: 800;
          line-height: 32px;
        }

        &__txt {
          font-size: 14px;
          color: #372527;
          font-weight: 400;
        }
      }
    }

    .account__boxes {
      .column {
        padding: 0;

        .account__box {
          padding: 0;

          h4 {
            color: #fff;
            font-size: 20px;
            padding: 15px 0;
            font-weight: 800;
            line-height: 32px;
            margin-bottom: 20px;
            text-transform: uppercase;
            background-color: #211e14;

            &:before {
              content: '';
              width: 25px;
              height: 25px; 
              margin: 0 20px 0 30px;
              display: inline-block;
              vertical-align: text-bottom;
              background: url(/arquivos/ico-account.png) no-repeat scroll 0 0 transparent;
            }
          }

          p,
          h5,
          div {
            padding: 0 30px;
          }

          div.profile-detail-display,
          div.address-display-block {
            padding: 0;
          }
        }
      }
    }

    .section__account .address-display-unit,
    .section__account .profile-detail-display,
    .section__account .address-display,
    .section__account .address-display-unit .row,
    .section__account .profile-detail-display .row{
      width: 100%;
      padding: 0;
      margin: 0;
    }
   .section__account h4{
     color: #333;
     font-size: 18px;
     font-weight: 700;
     line-height: 22px;
   }
   .section__account h5{
     color: #333;
     font-size: 15px;
     font-weight: 400;
     line-height: 22px;
   }
   .section__account p{
     color: #333;
     font-size: 14px;
     font-weight: 400;
     line-height: 18px;
   }
   .section__account .modal .row{
     margin: 0;
   }
   .section__account .control-label{
     padding: 10px 0 3px;
   }
   .section__account input[type="text"],
   .section__account select{
     width: 100%;
   }
   .section__account input[type="radio"],
   .section__account input[type="checkbox"]{    
     margin: 0 5px 0 0;
     float: none;
     position: relative;
     min-height: 0;
     vertical-align: top;
   }
 
 .modal-backdrop {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1040;
   background-color: #000000;
 }
 
 .modal-backdrop.fade {
   opacity: 0;
 }
 
 .modal-backdrop,
 .modal-backdrop.fade.in {
   opacity: 0.8;
   filter: alpha(opacity=80);
 }
 
 .modal {
   position: fixed;
   top: 10%;
   left: 50%;
   z-index: 1050;
   width: 560px;
   margin-left: -280px;
   background-color: $c-white;
   border: 1px solid #999;
   border: 1px solid rgba(0, 0, 0, 0.3);
   *border: 1px solid #999;
   -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
           border-radius: 6px;
   outline: none;
   -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
           box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
   -webkit-background-clip: padding-box;
      -moz-background-clip: padding-box;
           background-clip: padding-box;
 }
 
 .modal.fade {
   top: -25%;
   -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
      -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
        -o-transition: opacity 0.3s linear, top 0.3s ease-out;
           transition: opacity 0.3s linear, top 0.3s ease-out;
 }
 
 .modal.fade.in {
   top: 10%;
 }
 
 .modal-header {
   padding: 9px 15px;
   border-bottom: 1px solid #eee;
 }
 
 .modal-header .close {
   margin-top: 2px;
 }
 
 .modal-header h3 {
   margin: 0;
   line-height: 30px;
 }
 
 .modal-body {
   position: relative;
   max-height: 400px;
   padding: 15px;
   overflow-y: auto;
 }
 
 .modal-form {
   margin-bottom: 0;
 }
 
 .modal-footer {
   padding: 14px 15px 15px;
   margin-bottom: 0;
   text-align: right;
   background-color: #f5f5f5;
   border-top: 1px solid #ddd;
   -webkit-border-radius: 0 0 6px 6px;
      -moz-border-radius: 0 0 6px 6px;
           border-radius: 0 0 6px 6px;
   *zoom: 1;
   -webkit-box-shadow: inset 0 1px 0 $c-white;
      -moz-box-shadow: inset 0 1px 0 $c-white;
           box-shadow: inset 0 1px 0 $c-white;
 }
 
 .modal-footer:before,
 .modal-footer:after {
   display: table;
   line-height: 0;
   content: "";
 }
 
 .modal-footer:after {
   clear: both;
 }
 
 .modal-footer .btn + .btn {
   margin-bottom: 0;
   margin-left: 5px;
 }
 
 .modal-footer .btn-group .btn + .btn {
   margin-left: -1px;
 }
 
 .modal-footer .btn-block + .btn-block {
   margin-left: 0;
 }

 .section__account {
     margin: 20px 0 30px;
     .columns {
         align-items: stretch;
     }
 }
 
 .account {
     .navbar {
         border-radius: 0;
         margin-bottom: 0;
         border: none;
     }

     &__box {
      width: 358px;
      height: 400px;
      margin: 10px;
      padding: 40px;
      background-color: #fbf7f1;
     }

     h4 {
      font-size: 32px;
      margin-bottom: 50px;
      padding: 5px 0 25px 20px;
      text-transform: uppercase;
      border-bottom: 1px solid #cacaca;
     }

     .address-update,
     #edit-data-link,
     .account__box__orders__link {
      display: block;
      margin: 10px 0;
      color: #372527;
      font-size: 14px;
      font-weight: 700;
      font-family: Roboto;
      text-decoration: underline;
      background-color: #fbf7f1;
     }

     .modal {
         bottom: inherit;
     }

     .profile-detail-display {
         .title {
             font-size: 14px;
         }
     }

     .profile-detail-display-info {
         margin: 10px 0;
     }
 }

body.account {
  main {
    margin-bottom: 126px;
  }
  
  .title {
    color: #372527 !important;
  }
  .header__area {
    padding: 12px 0;
  }
  .navbar-link {
    line-height: 0;
  }
}