.category, .catalog {
    .section__diff {
        padding: 0;
    }

    .diff__container {
        box-shadow: none;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .section__banner {
        height: 207px;
    }

    &.empty-search {
		main {
			min-height: calc(50vh - 500px);
		}

    	 .empty {
			 text-align: center;
			 background-color: #f5f5f5;
			 border-top: 1px solid #e0e0e0;
			 border-bottom: 1px solid #e0e0e0;
			 width: 100%;
			&__inner {
				text-align: center;
				padding: 30px 20px;
			}
			&__icon {
				width: 60px;
				height: 60px;
				margin: 0 auto 20px;
				padding: 15px;
				display: block;
				border: 1px solid #757575;
				border-radius: 50%;
			}

			&__title {
				font-size: 23px;
				text-transform: uppercase;
				font-family: $f-secondary;
				display: block;
				width: 500px;
				margin: 0 auto;
			}

			&__subtitle {
				font-family: $f-base;
				display: block;
				width: 500px;
				margin: 10px auto;
				font-size: 18px;
			}

			path {
				fill: #757575;
			}
      	}
    }
}
