.category {
    .section__diff {
        padding: 0;
    }

    .diff__container {
        box-shadow: none;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .section__banner {
        height: 207px;
    }
}