body {
	&.catalog {
		.section__title {
			background: url(/arquivos/banner-catalog-title-mobile.jpg) center
				no-repeat;
			background-size: 100%;

			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0;
			padding: 0;
			@include atMedium {
				background: url(/arquivos/banner-catalog-title.jpg) center
					no-repeat;
				height: 250px;
			}
			h2 {
				padding: 0;
				margin: 0;
				color: #a69e93;
				font-size: 60px;
				font-weight: 400;
				text-transform: uppercase;
				font-family: $playfair;
			}
		}

		.section__navTop {
			margin-top: -2px;
			margin: 0;
			.container {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
			@include atMedium {
				border-bottom: 1px solid #bdbdbd;
				border-top: 1px solid #bdbdbd;
			}
		}

		.section__inner {
			@include mq(mobile) {
				p {
					display: none;
				}
			}
			@include mq("tablet") {
				p {
					display: block;
				}
			}
			p {
				margin-right: 10px;
				color: #6a6157;
				// @extend %font-family-unitedsans;
				font-size: 14px;
				font-weight: 300;
				text-transform: uppercase;
				letter-spacing: 0.5px;
			}
		}

		.section__banner {
			height: 207px;
		}

		.allVitrine {
			display: flex;
			position: initial;
			.is-fluid {
				width: 100%;
				padding: 0 20px;
				.textCatalog {
					margin-bottom: 60px;
					.titleText {
						display: flex;
						align-items: center;
					}
					h4 {
						color: #000000;
						font-family: Roboto;
						font-size: 16px;
						font-weight: 400;
						line-height: 25px;
					}
				}
				.pages {
					display: none;
				}
				ul {
					text-align: center;
					li {
						transition: 0.5s ease;
						display: inline-block;
						margin: 10px;
						@include mq(mobile) {
							width: 42%;
						}
						@include mq("tablet") {
							width: 410px;
						}
					}
					&.active {
						display: flex;
						flex-direction: column;
						li {
							width: 100%;
							.product--shelf {
								display: flex;
								justify-content: space-between;
								align-items: center;
								width: 100%;
							}
							.product__name {
								text-align: left;
								max-width: 100%;
							}
							.product__actions {
								display: none;
							}
							.description {
								display: block;
								color: #6a6157;
								font-family: Roboto;
								font-size: 14px;
								font-weight: 400;
								line-height: 20px;
							}
							.btn-list {
								display: block;
							}
							.product__info {
								display: flex;
								justify-content: space-between;
								align-items: center;
							}
						}
					}
				}
			}
		}
	}
}
