body {
    &.category {
        .section__diff {
            padding: 0;
        }
        
        .section__title {
            background: url(/arquivos/BG_Banner_Categoria.jpg) center;
            text-align: center;
            margin-top: 5px;
            h2 {
                padding: 50px 0;
                color: #211e14;
                font-family: Roboto;
                font-size: 75px;
                font-weight: 700;
                line-height: 100px;
                text-transform: uppercase;
            }
        }
    
        .section__navTop {
            border-bottom: 3px solid #e8e7e5;
            .container {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            &__filter {
                a {
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: normal;
                    text-transform: uppercase;
                    letter-spacing: 0.5px;
                    text-decoration: none;
                    color:  #6a6157;
                    padding: 5px 0;
                    font-weight: 800;
                    &.btnClear {
                        i {
                            &:before {
                                content: "x";
                                font-family: Arial;
                                font-weight: bold;
                                margin-right: 5px;
                                font-size: 18px;
                            }
                        }
                    }
                    &.btnOpenFilter {
                        color: #e75300;
                        margin-right: 30px;
                        padding-right: 30px;
                        border-right: 1px solid #dadad8;
                        transition: .3s ease;
                        i {
                            margin-right: 5px;
                            &:before {
                                font-size: 11px;
                            }
                        }
                        &:hover {
                            color: #6a6157;
                        }
                    }
                }
            }
            &__numberProduct {
                p {
                    color: #000000;
                    font-size: 15px;
                    font-family: Roboto;
                    b {
                        font-weight: 700;
                    }
                }
            }
            &__orderBy {
                display: flex;
                align-items: center;
                &--grid  {
                    a {
                        margin-left: 10px; 
                    }
                }
                
                &--grid {
                    display: flex;
                    justify-content: space-between;
                    a {
                        color: #e8e7e5;
                        &.active {
                            color: #e75300;
                        }
                    }
                }
            }
        }
    
        .section__inner {
            p {
                margin-right: 10px;
                color: #6a6157;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 800;
                text-transform: uppercase;
                letter-spacing: 0.5px;
            }
        }
    
        .diff__container {
            box-shadow: none;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .section__banner {
            height: 207px;
        }

        .allVitrine {
            display: flex;
            .is-fluid {
                width: 100%;
                ul {
                    li {
                        transition: 1s ease;
                        text-align: center;
                        transition: 0.5s ease;
                    }
                    &.active {
                        li {
                            width: 100%;
                            display: block;
                            .product--shelf {
                                display: flex;
                                justify-content: space-between;
                            }
                        }
                    }
                }
            }
        }
    }
}