.home {
	.section__title {
		&__ico {
			margin-right: 10px;
			display: inline-block;
			vertical-align: middle;
		}

		&__txt {
			@extend %UnitedSansRgHv;
			color: #000;
			font-weight: 800;
      font-size: 26px;
			display: inline-block;
			text-transform: uppercase;
<<<<<<< HEAD
=======
      @extend %UnitedSansRgHv;
>>>>>>> 7c52fdd9ada2c3d8de4da84c84654df696f0b486
		}
	}

	.slick-prev {
		transform: rotate(180deg);
	}

	.comprecategoria {
		&__box {
			padding: 15px 0;
			text-align: center;
			background: url(/arquivos/textura-areas.png) repeat scroll 0 0 transparent;

			.box-banner {
				text-align: center;
				margin-right: 15px;
				display: inline-block;
				vertical-align: middle;

				img {
					-webkit-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
					-moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
					-ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
					-o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
					transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
		
					&:hover {
						-webkit-transform: scale(0.9);
						-moz-transform: scale(0.9);
						-ms-transform: scale(0.9);
						-o-transform: scale(0.9);
						transform: scale(0.9);
					}
				}

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}
