.product {
	&__main {
		@include atMedium {
			display: grid;
			grid-template-columns: max-content min-content 0.2fr;
			grid-gap: 10%;
			padding-left: 5%;
		}

		h1 {
			margin: 0;
		}
		.product__group {
			@extend %display-flex;
			@extend %flex-justify-content-space-between;
			margin: 10px 0;
			@include atMedium {
				justify-content: flex-start;
				margin: 0;
			}
		}
		.product__qtd {
			@extend %display-flex;
			@extend %flex-align-items-center;
			flex-basis: 48%;
			height: 40px;
			@include atMedium {
				height: auto;
				flex: 1;
			}

			&-title {
				display: none;
				color: #000000;
				@include font-size(13px);
				margin-right: 20px;
				@include atMedium {
					display: block;
				}
			}
			&-wrapper {
				border: 1px solid #cecece;
				@extend %display-flex;
				height: 100%;
				flex: 1;
				justify-content: space-between;
				&::after {
					content: " peças";
					display: inline-flex;
					align-items: center;
					order: 2;
				}
				@include atMedium {
					&::after {
						display: none;
					}
				}
			}
			&-value {
				width: 30px;
				text-align: center;
				border: 0;
			}
			.button {
				border: 0;
				width: 30px;
				font-weight: bold;
				color: #757575;
				background-color: transparent;
				@include font-size(25px);
				@include atMedium {
					width: 30px;
				}
				&--plus {
					order: 3;
					@include atMedium {
						order: initial;
					}
				}
			}
		}
		.product__info {
			@extend %display-flex;
			@extend %flex-direction-column;
			padding: 0 10px;
			@include atMedium {
				padding: 0;
			}
			.product__group {
				flex-wrap: wrap;
				@include atMedium {
					flex-wrap: nowrap;
				}
			}
		}

		.product__price {
			display: none;
			@include atMedium {
				display: block;
				margin: 10px 0 20px 0;
			}
		}
		.product__price--mobile {
			@include atMedium {
				display: none;
			}
			.descricao-preco {
				@extend %display-flex;
				flex-wrap: wrap;
				@extend %flex-justify-content-center;
			}

			.valor-dividido span span {
				font-size: 0px;
			}
			.skuBestInstallmentNumber {
				@extend %price__installment;
				padding: 0 0 0 5px;
				font-size: 17px !important;
				.x {
					@extend %price__installment;
					border: none;
					font-size: 17px !important;
				}
			}
			.skuBestInstallmentValue {
				@extend %price__installment;
				padding: 0;
				border: none;
				font-size: 17px !important;
			}
			.skuBestPrice {
				@extend %price__best;
				font-size: 17px !important;
			}
		}
		.product__action {
			@extend %display-flex;
			@extend %flex-align-items-center;
			@include atMedium {
				margin: 30px 0;
			}
		}

		.buy-button {
			position: fixed;
			bottom: 0;
			left: 0;
			color: white;
			display: flex !important;
			@extend %flex-align-items-center;
			@extend %flex-justify-content-center;
			flex: 1;
			padding: 10px;
			text-align: center;
			font-size: 15px;
			text-transform: uppercase;
			width: 100%;
			z-index: 9;
			background-color: #25a578;

			&:before {
				content: "";
				background-image: url("/arquivos/carrinho-png.png");
				background-repeat: no-repeat;
				background-position: center;
				display: inline-flex;
				@extend %flex-align-items-center;
				width: 45px;
				height: 30px;
			}
			@include atMedium {
				background-color: $c-blue;
				position: static;
				widows: auto;
				padding: 15px;
				min-width: 430px;
				z-index: 9;
			}
		}

		#show {
			@include atMedium {
				display: grid;
				grid-template-columns: 0.2fr 1fr;
				grid-template-areas: "thumbs mainImg";
				grid-gap: 10px;
			}
		}
		#include {
			display: none;
			@include atMedium {
				display: block;
				order: 1;
				grid-area: mainImg;
			}
		}
		.thumbs {
			order: 0;
			grid-area: thumbs;
			li {
				img {
					box-shadow: 1px 1px 8px 0px black;
					@include atMedium {
						box-shadow: none;
					}
				}
			}
			a {
				display: block;
			}
			.slick-slide {
				margin: 10px;
				a {
					padding: 10px;
				}
			}
			.slick-current {
				a {
					padding: 0;
				}
			}

			@include atMedium {
				display: grid;
				grid-template-columns: 1fr;
				grid-auto-rows: max-content;
				grid-gap: 10px;
			}
		}

		.productName {
			@include font-size(22px);
			margin: 0;
		}
		.product__name--mobile {
			.productName {
				@include font-size(18px);
				text-align: center;
			}
			@include atMedium {
				display: none;
			}
		}
		.economia-de {
			display: none;
		}
		.valor-de {
			@extend %price__list--line;
			font-size: 0px;
			color: #a8a198;
			margin: 0;
			text-align: center;
			.skuListPrice {
				@include font-size(16px);
				font-weight: normal;
			}
			@include atMedium {
				text-align: left;
			}
		}
		.price {
			justify-content: center;
			@include atMedium {
				justify-content: flex-start;
			}
		}

		.descricao-preco {
			margin: 0;
		}
		.valor-por {
			font-size: 0px;
			.skuBestPrice {
				@extend %price__best;
			}
			@include atMedium {
				.skuBestPrice {
					@include font-size(38px);
					font-weight: 300;
					font-style: normal;
					color: #000000;
					padding: 0;
				}
			}
		}
		.valor-de + .valor-por {
			.skuBestPrice {
				color: #000000;
			}
		}
		.skuBestInstallmentNumber {
			&:after {
				@include atMedium {
					content: " sem juros ";
					display: inline;
				}
			}
		}
		.valor-dividido {
			color: #757575;
			@include font-size(12px);
			font-weight: 400;
			font-style: normal;
		}
		.preco-a-vista {
			display: none !important;
		}
		.skuBestInstallmentValue {
			font-weight: normal;
		}
		.product__skus {
			flex-basis: 48%;
			@include atMedium {
				flex: 1;
				border-right: 1px solid black;
				flex-basis: 40%;
				margin-right: 15px;
			}
			li.specification {
				@extend %display-flex;
				@extend %flex-justify-content-space-between;
				@extend %flex-align-items-center;
				border: 1px solid #cecece;
				height: 40px;
				padding: 0 10px;
				@include atMedium {
					display: none;
				}
				&:after {
					content: "";
					display: flex;
					width: 8px;
					height: 8px;
					border: solid #9e9d9e;
					border-width: 0 4px 4px 0;
					transform: rotate(45deg);
				}
				&.is-opened {
					&:after {
						transform: rotate(-135deg);
					}
				}
			}
		}
		.product__sizes {
			@extend %display-flex;
			flex-basis: 48%;
			@extend %flex-justify-content-center;
			@extend %flex-align-items-center;
			height: 100px;
			border: 1px solid #bdbdbd;
			border-radius: 10px;
			@include atMedium {
				border: none;
				flex-basis: 20%;
				height: auto;
			}
		}
		.product__sizes-link {
			background-image: url("/arquivos/medidas-logo.png");
			background-repeat: no-repeat;
			display: block;
			width: 45px;
			height: 45px;
			cursor: pointer;
		}

		// SELECT SIZE
		.sku-selector-container {
			ul {
				position: relative;
			}
		}
		.select.skuList {
			position: absolute;
			width: 100%;
			display: none;
			@include atMedium {
				display: flex;
				position: static;
				width: auto;
			}
			span {
				@extend %display-flex;
				@extend %flex-align-items-center;
				@extend %flex-direction-column;
				background: white;
				@include atMedium {
					background: initial;
					flex-direction: row;
				}
			}
			input {
				display: none;
			}

			label {
				@include atMedium {
					justify-content: center;
					width: 38px;
					margin-right: 20px;
					padding: 0;
				}
				padding: 0 10px;
				@extend %display-flex;
				@extend %flex-justify-content-space-between;
				@extend %flex-align-items-center;
				width: 100%;
				height: 38px;
				border: 1px solid #bdbdbd;
				flex-shrink: 0;
				cursor: pointer;
				transition: background-color .3s, color .3s;
				&.checked {
					@include atMedium {
						background-color: $c-primary;
						color: $c-white;
					}
					&::after {
						background-color: $c-primary;
					}
				}
				&:after {
					content: "";
					width: 10px;
					height: 10px;
					border: 1px solid black;
					@include atMedium {
						display: none;
					}
				}
				&:hover {
					background-color: #BDBDBD;
					color: #fff;
				}
			}
		}
		.product__shipping {
			@extend %display-flex;
			@extend %flex-align-items-center;
			@extend %flex-justify-content-center;
			flex-basis: 48%;
			border: 1px solid #bdbdbd;
			border-radius: 10px;
			@include atMedium {
				justify-content: flex-start;
				border: none;
				border-radius: 0;
				border-right: 1px solid black;
				flex-basis: 80%;
			}
		}
		.product__shipping__result {
			display: flex;
			margin-top: 5px;
			align-items: center;
		}
		.product__shipping-close.shipping__close {
			color: red;
			border: 1px solid black;
			margin-right: 5px;
		}
		.product__shipping-table__row {
			font-size: 12px;
			display: flex;
			flex-direction: column;
		}
		.shipping {
			display: none;
			margin: 20px auto;
			@include atMedium {
				display: block;
				margin: 0;
				min-width: 220px;
			}
		}
		.product__shipping-ico {
			@include atMedium {
				margin-right: 30px;
			}
		}
		.shipping__info {
			@extend %display-flex;
			@extend %flex-align-items-center;
		}
		.shipping__input {
			border: 1px solid #bdbdbd;
			padding-left: 10px;
			@include atMedium {
				max-width: 180px;
			}
		}
		.shipping__txt {
			margin: 0;
			color: #757575;
			@include font-size(10px);
			margin-right: 20px;
		}
		.shipping__link {
			color: #80754e;
			@include font-size(10px);
			font-weight: bold;
		}
		.section__title__txt {
			color: #212121;
			@include font-size(15px);
			font-weight: bold;
			padding: 10px 0;
			@extend %display-flex;
			@extend %flex-justify-content-space-between;
			border-bottom: 1px solid #bdbdbd;
		}
		.productReference {
			color: #757575;
			@include font-size(10px);
			&:before {
				content: "ref:";
				display: inline-block;
				margin-right: 5px;
				text-transform: uppercase;
			}
		}
		.section__product-description {
			margin-top: 40px;
			margin-bottom: 0;
		}
		.product__description-text {
			color: #757575;
			@include font-size(15px);
		}
		.shipping__button {
			background-color: $c-blue;
			color: $c-white;
		}
		#botaoZoom {
			display: flex;

			@include atMedium {
				padding: 0;
				img {
					box-shadow: none;
				}
			}
		}
		.product__social-list {
			@extend %display-flex;
		}
		.product__social-item {
			margin-right: 20px;
		}
		.product__info .productName {
			display: none;
			@include atMedium {
				display: block;
			}
		}
		.slick-dots {
			bottom: 4%;
			li {
				background-color: #fdfdfdc2;
			}
			button {
				background: transparent;
				border: none;
			}
		}
		.slick-dots li.slick-active {
			background-color: #757575;
		}
	}

	&__information-txt {
		margin: 0;
		@extend %display-flex;
		@extend %flex-justify-content-space-between;
		@extend %flex-align-items-center;
		padding: 11.5px 0;
		&:after {
			content: "";
			display: flex;
			width: 8px;
			height: 8px;
			border: solid #9e9d9e;
			border-width: 0 4px 4px 0;
			transform: rotate(45deg);
		}
		&.is-opened {
			&:after {
				transform: rotate(-135deg);
			}
		}
		@include atMedium {
			display: none;
		}
	}
	&__information {
		border: 1px solid #bdbdbd;
		padding: 0 10px;
		@include atMedium {
			padding: 0;
			border: 0;
		}
	}
	&__info-group {
		display: none;
		@include atMedium {
			display: block;
		}
	}
}

body.product {
	.shelf__carousel--full {
		li {
			margin: 0 25px;
		}
	}
}
