.header {
	@extend %background-color-black;

	@include mq(tablet, max) {
		height: 60px;
		position: relative;

		i.icon-cart {
			color: #bab1a8;
		}
	}

	&__inner {
		@extend .container;
		@extend %display-flex;
		@extend %flex-wrap-wrap;
		@extend %flex-justify-content-space-between;
		@extend %flex-align-items-center;

		@include mq(mobile) {
			padding: 0;
		}

		.header__top & {
			padding-left: 174px;
		}
	}

	&__top {
		@include mq(mobile) {
			display: none;
		}

		@include mq(tablet) {
			display: block;
		}

		.menu--institutional {
			@extend %display-flex;
			@extend %flex-justify-content-space-between;
		}

		.menu__item {
			padding: 0 10px;

			+ .menu__item {
				border-left: 1px solid $c-primary;
			}
		}

		.header__inner {
			padding-top: 10px;
			padding-bottom: 10px;
		}

		.b2b__link,
		.menu__link {
			@extend %font-family-unitedsanscondensed;
			@extend %text-transform-uppercase;
			font-weight: 700;
			@include font-size(16px);
			letter-spacing: 0.8px;

			&:hover {
				@extend %text-decoration-none;
			}
		}

		.b2b__link {
			opacity: 0;
			z-index: -5;
		}

		.menu__link {
			color: #6c6359;

			&:hover {
				@extend %color-primary;
			}
		}
	}

	&__main {
		@include mq(tablet) {
			background-color: #fbf7f1;
			background-image: url('/arquivos/bg-header.png');
			background-repeat: repeat-x;
			height: 75px;
		}
	}

	&__menu {
		@include mq(tablet, max) {
			left: -100vw;
			transition: all linear 0.3s;
			&.is-open {
				left: 0;
				transition: all linear 0.3s;
			}

			position: absolute;
			z-index: 99;
			top: 0;
			height: calc(100vh - 60px);
			width: 100vw;
			.btn--close {
				position: absolute;
				right: 0;
			}

			.navbar {
				height: 100%;
			}
		}

		@include mq(tablet) {
			display: block;
			padding-left: 174px;
			width: 100%;
			max-width: 750px;
			height: 75px;

			.btn--close {
				display: none;
			}

			.menu {
				height: 75px;
			}
			.menu__item {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				&--dropdown {
					padding: 0 10px;
					border-bottom: 7px solid transparent;
					border-top: 7px solid transparent;
					&:hover {
						border-bottom: 7px solid #e75300;
						border-top: 7px solid transparent;
					}
				}
			}

			.menu__submenu {
				padding: 60px;
			}

			.menu__inner {
				margin: 0 auto;
				width: 100%;
				max-width: 1100px;
				display: flex;
			}

			.menu__submenu .menu__link {
				color: #fbf7f1;
				font-family: 'United Sans';
				font-size: 16px;
				font-weight: 800;
				line-height: 34px;
				text-transform: uppercase;
				letter-spacing: 0.57px;
				&.menu--highlight {
					color: #e75300;
					&::after {
						content: '';
						background-image: url('/arquivos/arrow-highlight.png');
						display: inline-flex;
						background-color: #211e14;
						height: 23px;
						width: 20px;
						background-repeat: no-repeat;
						align-self: center;
						align-items: center;
					}
				}
			}

			.menu__submenu .menu {
				flex-direction: column;
				height: 100%;
				border-right: 2px solid #6a6157;
				max-width: 167px;
				padding-right: 24%;
				justify-content: flex-start;
			}

			.menu__column {
				flex-basis: 15%;
				&--box {
					display: flex;
					flex-wrap: wrap;
					max-width: 710px;
					padding: 10px 30px;
					flex-basis: 65%;
				}
			}

			.menu__box {
				flex-basis: 30%;
				margin: 0 10px 10px;

				.menu__link {
					display: block;
					width: 100%;
					font-family: 'Roboto';
					@include font-size(14px);
					text-transform: none;
					color: #bab1a8;
					font-weight: 400;
					line-height: 1.7;
				}
			}

			.menu__title {
				text-transform: uppercase;
				letter-spacing: 0.57px;
				color: #fbf7f1;
				font-family: 'United Sans';
				display: block;
				width: 100%;
				font-weight: 800;
				margin-bottom: 5px;
				@include font-size(16px);
			}
		}
	}

	&__logo {
		margin-left: 10px;
		margin-right: auto;
		@extend %background-color-black--light;
		@extend %display-flex;

		@include mq(tablet) {
			padding: 20px;
			border-bottom: 6px solid $c-primary;
			position: absolute;
			top: 0;
			bottom: -6px;
			z-index: 10;
			align-items: flex-end;
		}

		.logo--white {
			@extend %display-none;
		}
	}

	&__search-form {
		padding-left: 5px;
		padding-right: 5px;

		.js-search-form {
			&.active {
				@include mq(mobile) {
					position: absolute;
					left: 0;
					background: #000;
					z-index: 99;
					top: 60px;
					width: 100%;
					padding: 11px;
				}
				@include mq(tablet) {
					position: relative;
					background: transparent;
					width: initial;
					padding: 0;
					top: initial;
				}
				.search-form {
					@include mq(mobile) {
						display: block;
						form {
							input[type='search'] {
								width: 90%;
							}
						}
					}

					@include mq(tablet) {
					}
				}
			}
		}

		.search-form {
			@include mq(mobile) {
				display: none;
			}

			@include mq(tablet) {
				display: block;
				.js-search-form .active {
					display: none;
				}
			}
		}
	}

	@include mq(tablet) {
		.btn--search,
		.btn--menu {
			display: none;
		}

		background-color: #fff;
		position: relative;
	}

	&--fixed {
		position: fixed !important;
		z-index: 99;
		width: 100%;
		transform: translateZ(0);
		transition: all 0.5s;
		animation: slide-down 0.7s;
		opacity: 1;
		top: 0;

		.header__top {
			@extend %display-none;
		}

		.logo {
			@include mq(tablet) {
				display: none;
			}
		}

		.logo--white {
			@include mq(tablet) {
				display: block !important;
			}
		}

		.header__logo {
			@include mq(tablet) {
				background-color: #fff;
			}
		}

		.header__main {
			background-image: url(/arquivos/bg-header-fixed.png);
		}

		.menu__link,
		i.icon-cart {
			color: #bab1a8;
		}
	}
}

@keyframes slide-down {
	0% {
		opacity: 0;
		transform: translateY(-100%);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
