.navbar {
  background-color: $c-yellow;
  justify-content: space-around;
  @media screen and (max-width: $g-max-width) {
    padding-left: 10px;
    padding-right: 10px;
  }
  &-item {
    max-width: 100px;
		font-family: $f-base;
		
		&.has-dropdown:nth-child(n + 6){
			.navbar-dropdown {
				left: inherit;
				right: -289px;
			}
			
		}
		&.has-dropdown:nth-child(n + 11){
			.navbar-dropdown {
				left: inherit;
				right: 0;
			}
		}
  }
  .menu {
    display: flex;
    justify-content: space-around;
  }

  &-link {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    color: $c-blue;
    @media screen and (max-width: $g-max-width) {
      font-size: 14px;
    }
    &:hover {
      text-decoration: none;
    }

    &::after {
      display: none;
    }
	}
	
	&-dropdown {
		
		.navbar-item {
			max-width: 100%;
			display: block;
			padding: 5px 15px 2px !important;
			text-transform: uppercase;

			
		}

		&-items {
			display: flex;
  		
		}

		&-image {
			width: 400px;
			height: 289px;
			img {
				max-height: 315px;
    		width: 100%;
			}
		}

		
	}

  
}
