.section {
	&__page {
		margin: 20px auto;
		@include atMedium {
			margin: 40px auto;
		}
	}
	&__shelf {
		margin-bottom: 25px;
		@include atMedium {
			margin-bottom: 80px;
		}
	}
	&__search-term {
		@extend %display-flex;
		background-color: #efeeee;
		padding: 0 10px;
		border-bottom: 1px solid #c9c9c9;
	}
	&__search-body {
		@extend %display-flex;
		@extend %flex-direction-column;
		@extend %flex-align-items-center;
		@extend %text-align-center;
		padding: 40px 10px;
	}
}
