include ../helpers

block vars
	- var pageTitle = ''
	- var bodyClass = ''

doctype html
html(xmlns="http://www.w3.org/1999/xhtml", xmlns:vtex="http://www.vtex.com.br/2009/vtex-common", xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce", lang="pt-br")
	head
		+vtex-controller()
			title= "%STORE_NAME%" + pageTitle
		meta(charset="UTF-8")/
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")/
		meta(name="format-detection", content="telephone=no")/
		<link rel="apple-touch-icon" sizes="57x57" href="/arquivos/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/arquivos/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/arquivos/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/arquivos/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/arquivos/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/arquivos/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/arquivos/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/arquivos/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/arquivos/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/arquivos/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/arquivos/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/arquivos/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/arquivos/favicon-16x16.png">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
		//+vtex-controller('<vtex:template id="%TEMPLATE_PREFIX%Favicons" />')
		//include ../subtemplates/Favicons
		+vtex-controller('<vtex:metaTags />')
		+vtex-controller()
			script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
			script
				include ../../../config/vtxctx.js
				if bodyClass == 'product'
					include ../../../config/skuJson.js
				include ../../../config/vtexjs-mock.js

		block head
		+vtex-controller('<vtex:template id="%TEMPLATE_PREFIX%head" />')

	body(class= bodyClass)
		+vtex-controller('<vtex:template id="%TEMPLATE_PREFIX%header" />')
			include ../subtemplates/header

		main
			block content

		+vtex-controller('<vtex:template id="%TEMPLATE_PREFIX%newsletter" />')
			include ../subtemplates/newsletter
		+vtex-controller('<vtex:template id="%TEMPLATE_PREFIX%footer" />')
			include ../subtemplates/footer

		block scripts

		+vtex-controller('<vtex:template id="%TEMPLATE_PREFIX%bottom" />')
			script(src='/arquivos/ec-slick.js')



